.disnone {
  display: none;
}
.disblock {
  display: block;
}
.dishidden {
  visibility: hidden;
}
.clearfix:after {
  display: block;
  clear: both;
  height: 0;
  content: ".";
  visibility: hidden;
}
html {
  width: 100%;
  height: auto !important;
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  position: relative;
  width: 100%;
  max-height: 100%;
  height: 100%;
}
#J_wrapBody {
  position: relative;
  width: 100%;
  height: auto !important;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 1200px;
}
.wrap {
  margin: 0 auto;
}
/*//header start*/
.header {
  width: 100%;
  height: 93px;
  margin: 0 auto;
  background-color: #f9f9f9;
}
.header .header-main {
  width: 1200px;
  height: 93px;
  margin: 0 auto;
}
.header .logo {
  display: inline-block;
  width: 368px;
  height: 93px;
  background: url("css/i/logo.png") center no-repeat;
}
.header .tel {
  float: right;
  height: 93px;
  margin-right: 0;
}
.header .tel .tel-icon {
  display: inline-block;
  height: 93px;
  line-height: 93px;
  vertical-align: middle;
}
.header .tel .tel-icon img {
  vertical-align: middle;
  width: 32px;
  height: 32px;
}
.header .tel .tel-num {
  display: inline-block;
  border-left: 1px solid #d9d9d9;
  text-align: center;
  vertical-align: middle;
  margin-left: 18px;
  padding-left: 18px;
}
.header .tel .tel-num h3 {
  font-size: 24px;
  color: #004682;
}
.header .tel .tel-num p {
  font-size: 16px;
  color: #7b7a7a;
}
/*固定导航条*/
.header-fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  opacity: 0.5;
  filter: alpha(opacity=50);
  height: 72px;
}
.header-fixed .logo {
  height: 72px;
}
.header-fixed .tel {
  height: 72px;
}
.header-fixed .tel .tel-icon {
  height: 72px;
  line-height: 72px;
}
/*header end*/
.footer {
  width: 100%;
  height: 119px;
  margin: -100px 0 auto;
}
.footer .footer-container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 14px 0 0 0;
}
.footer p {
  font: normal 16px/26px "microsoft yahei";
}
.footer p i {
  display: inline-block;
  width: 26px;
  height: 23px;
  vertical-align: middle;
  background: url("css/i/pic110.png") -2px -38px no-repeat;
}
.footer p a {
  color: #666;
}
.footer p a:hover {
  color: #00498a;
}
.footer ul {
  margin-top: 6px;
}
.footer ul li {
  display: inline-block;
  margin-right: 10px;
}
.footer ul a {
  display: inline-block;
  width: 130px;
  height: 28px;
  cursor: pointer;
}
.footer ul .law a {
  background: url("css/i/hlwjb.png") 0 0 no-repeat;
  width: 140px;
}
.footer ul .law a:hover {
  background-position: 0px -37px;
}
.footer ul .integrity a {
  width: 28px;
  height: 28px;
  background: url("css/i/foot-new.png") -2px -126px no-repeat;
}
.footer ul .integrity a:hover {
  background-position: -2px -156px;
}
.footer ul .dependable a {
  background: url("css/i/foot-new.png") -2px -67px no-repeat;
  width: 68px;
}
.footer ul .dependable a:hover {
  background-position: -2px -96px;
}
.footer ul .honesty a {
  background: url("css/i/foot-new.png") -2px -3px no-repeat;
  width: 78px;
}
.footer ul .honesty a:hover {
  background-position: -2px -35px;
}
.footer ul .record a {
  background: url("css/i/pic110.png") 0 0 no-repeat;
}
.footer ul .record a:hover {
  background-position: 0px -36px;
}
