@import "css/index";

/*公司介绍*/
.g-right {
  .m-con-wrap {
    .m-con-bd {
      border-bottom: none;
      .comintr-info {
        display: inline-block;
        width: 646px;
        padding-top: 6px;
      }
      .comintr-img {
        float: right;
        margin-right: 30px;
        width: 175px;
        height: 174px;
        background: url('@{imgurl}compro-logo.png') no-repeat center;
      }
      .pt25b40 {
        padding: 25px 0 40px 0;
      }
      .compro-plat {
        width: 752px;
        height: 322px;
        background: url("@{imgurl}compro-plat.png") no-repeat center;
        margin: 0 auto;
        padding-bottom: 50px;
      }
      .compro-frame {
        width: 625px;
        height: 376px;
        background: url("@{imgurl}compro-frame.png") no-repeat center;
        margin: 0 auto;
        padding: 25px 0 45px 0;
      }
      .compro-video {
        width: 588px;
        height: 403px;
        margin: 0 auto;
        padding: 25px 0 45px 0;
      }
      .offic {
        width: 842px;
        margin: 30px auto;
        .compro-of1 {
          margin-right: 10px;
          width: 517px;
          height: 359px;
          background: url("@{imgurl}compro-of1.png") no-repeat center;
        }
        .compro-of2 {
          margin-bottom: 10px;
          display: block;
          width: 312px;
          height: 170px;
          background: url("@{imgurl}compro-of2.png") no-repeat center;
        }
        .compro-of3 {
          display: block;
          width: 312px;
          height: 170px;
          background: url("@{imgurl}compro-of3.png") no-repeat center;
        }
        ul {
          margin-top: 10px;
          li {
            float: left;
            display: inline-block;
            width: 214px;
            height: 122px;
            margin-right: 13px;
          }
          li.compro-of4 {
            background: url("@{imgurl}compro-of4.png") no-repeat center;
          }
          li.compro-of5 {
            background: url("@{imgurl}compro-of5.png") no-repeat center;
          }
          li.compro-of6 {
            background: url("@{imgurl}compro-of6.png") no-repeat center;
          }
          li.compro-of7 {
            width: 160px;
            margin-right: 0;
            background: url("@{imgurl}compro-of7.png") no-repeat center;
          }
        }
      }
    }
  }
}