@import "css/index";
/*员工信息*/
.g-right {
  .m-con-wrap {
    //员工概况
    .emp-pro {
      padding-top: 20px;
      border: none;
      p {
        padding-left: 0;
      }
    }
    //团队概况
    .emp-tem {
      padding-top: 50px;
      border: none;
      p {
        padding-left: 0;
      }
    }
    .m-con-bd {
      //图表
      .charts {
        width: 670px;
        margin: 0 auto;
        li {
          width: 250px;
          margin-bottom: 60px;
        }
      }

      .deadline {
        margin-top: 15px;
        margin-bottom: 7px;
        text-align: right;
        color: @col-999;
      }
    }
  }
}