@import "css/index";

/*企业文化*/
.g-right {
  .m-con-wrap {
    .m-con-bd {
      border: none;
      .threelogo {
        margin: 15px auto 35px;
        background: url("@{imgurl}entercul-beli.png") no-repeat center;
        width: 694px;
        height: 230px;

      }
      .emplact {
        position: relative;
        width: 880px;
        margin: 30px auto;
        .emplact1 {
          margin-right: 10px;
          width: 410px;
          height: 273px;
          background: url("@{imgurl}entercul-act1.png") no-repeat center;
        }
        .right {
          span {
            float: left;
            display: block;
            &.emplact2 {
              margin-right: 11px;
              width: 247px;
              height: 140px;
              background: url("@{imgurl}entercul-act2.png") no-repeat center;
            }
            &.emplact3 {
              width: 202px;
              height: 140px;
              background: url("@{imgurl}entercul-act3.png") no-repeat center;
            }
            &.emplact4 {
              position: absolute;
              top: 149px;
              width: 192px;
              height: 123px;
              background: url("@{imgurl}entercul-act4.png") no-repeat center;
            }
          }
        }

        ul {
          margin-top: 14px;
          li {
            float: left;
            display: inline-block;
            height: 201px;
            margin-right: 19px;
            &.emplact5 {
              width: 300px;
              background: url("@{imgurl}entercul-act6.png") no-repeat center;
            }
            &.emplact6 {
              width: 287px;
              background: url("@{imgurl}entercul-act7.png") no-repeat center;
            }
            &.emplact7 {
              position: absolute;
              top: 149px;
              right:0;
              width: 255px;
              height: 340px;
              background: url("@{imgurl}entercul-act5.png") no-repeat center;
            }
            &.last {
              margin-right: 0;
            }
          }
        }
      }
      .lifescene {
        width: 880px;
        margin: 30px auto;
        .entercul-life1 {
          margin-right: 15px;
          width: 432px;
          height: 288px;
          background: url("@{imgurl}entercul-life1.png") no-repeat center;
        }
        .entercul-life2 {
          width: 432px;
          height: 288px;
          background: url("@{imgurl}entercul-life2.png") no-repeat center;
        }
        ul {
          margin-top: 10px;
          li {
            float: left;
            display: inline-block;
            height: 178px;
            margin-right: 14px;
            &.entercul-life3 {
              width: 265px;
              background: url("@{imgurl}entercul-life3.png") no-repeat center;
            }
            &.entercul-life4 {
              width: 287px;
              background: url("@{imgurl}entercul-life4.png") no-repeat center;
            }
            &.entercul-life5 {
              width: 299px;
              background: url("@{imgurl}entercul-life5.png") no-repeat center;
            }
            &.last {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
  ////企业季刊
  //.quarterly-list{
  //  list-style: none;
  //  margin: 20px 0 34px;
  //  height:33px;
  //  li{
  //    float: left;
  //    margin-left: 42px;
  //    width: 86px;
  //    height:31px;
  //    border: 1px solid #57A8FF;
  //    font-size: 12px;
  //    color: #57A8FF;
  //    text-align:center;
  //    border-radius:4px;
  //    line-height: 31px;
  //    cursor: pointer;
  //  }
  //  .quar-first{
  //    margin-left: 0;
  //  }
  //  .quar-active{
  //    color:#fff;
  //    background-color: #57A8FF;
  //  }
  //}
  //.quarterly-content{
  //   height: 258px;
  //   padding-bottom:50px;
  //  .quarterly-main{
  //    li:first-child{
  //      margin-left: 0;
  //    }
  //    li{
  //      float: left;
  //      margin-left: 24px;
  //      width: 210px;
  //      height: 258px;
  //      text-align: center;
  //
  //      .quar-img{
  //          display: block;
  //          width: 210px;
  //          height: 220px;
  //        img{
  //          display: block;
  //          width: 100%;
  //          height: 100%;
  //        }
  //      }
  //      .quar-title{
  //        display: inline-block;
  //        padding-top: 22px;
  //        font-size:14px;
  //        color: #666;
  //      }
  //      .quar-title:hover{
  //        color: #57A8FF;
  //      }
  //    }
  //    .quarmain-first{
  //      margin-left: 0;
  //    }
  //
  //  }
  //}
}