@import "css/index";

/*新闻报道*/
.g-right {
  .m-con-wrap {
    .m-con-bd {
      border-bottom: none;
      ul.notice {
        li,a {
          display: inline-block;
          width: 100%;
          height: 75px;
          line-height: 75px;
          border-bottom: 1px dashed @col-eee;
          font-size: @font14px;
          color: @col-666;
          &:hover {
            color: @col-57a;
            cursor: pointer;

          }
          span.tit {
            display: inline-block;
            width: 590px;
            .ecli();
          }
          span.time {
            display: inline-block;
            width: 80px;
            text-align: center;
            padding-right: 85px;
            float: right;
          }
          .fh {
            background: url("@{imgurl}news-fh.png") no-repeat center;
          }
          .jrtt {
            background: url("@{imgurl}news-jrtt.png") no-repeat center;
          }
          .dyjrw {
            background: url("@{imgurl}news-dyjrw.png") no-repeat center;
          }
        }
        li.last {
          border-bottom: none;
        }
      }

      .paging-info {
        margin: 45px auto;
        text-align: center;
        .pagination {
          .pag();
        }
      }
    }
  }

  .honor-topbg {
    background: url("@{imgurl}news-top.png") no-repeat center;
    width: 970px;
    height: 250px;
  }
}