@import "css/index";

/*合作伙伴*/
.g-right {
  .m-con-wrap {
    padding-bottom: 20px;
    .mt30 {
      margin-top: 30px;
    }
    .m-con-bd {
      width: 875px;
      border-bottom: none;
      p {
        padding-left: 0;
        font-size: @font18px;
        color: @col-000;
        i {
          display: inline-block;
          margin-right: 10px;
          width: 3px;
          height: 20px;
          background: @col-57a;
          vertical-align: middle;
        }
      }
      ul {
        margin-left: 4px;
        li {
          float: left;
          position: relative;
          display: inline-block;
          margin: 35px 25px 30px 0;
          width: 192px;
          height: 79px;
          border: 2px solid #f5f5f5;
          &.last {
            margin-right: 0;
          }
          i {
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 50%;
            &.partnerzf1 {
              width: 107px;
              height: 37px;
              margin-left: -53.5px;
              margin-top: -18.5px;
              background: url("@{imgurl}partnerzf1.png") no-repeat center;
            }
            &.partnerzf2 {
              width: 116px;
              height: 36px;
              margin-left: -58px;
              margin-top: -18px;
              background: url("@{imgurl}partnerzf2.png") no-repeat center;
            }
            &.partnerzf3 {
              width: 90px;
              height: 53px;
              margin-left: -45px;
              margin-top: -26.5px;
              background: url("@{imgurl}partnerzf3.png") no-repeat center;
            }
            &.partnerzf4 {
              width: 135px;
              height: 22px;
              margin-left: -62.5px;
              margin-top: -11px;
              background: url("@{imgurl}partnerzf4.png") no-repeat center;
            }
            &.partnerfl1 {
              width: 142px;
              height: 34px;
              margin-left: -71px;
              margin-top: -17px;
              background: url("@{imgurl}partnerfl1.png") no-repeat center;
            }
            &.partnerfl2 {
              width: 101px;
              height: 45px;
              margin-left: -50.1px;
              margin-top: -22.5px;
              background: url("@{imgurl}partnerfl2.png") no-repeat center;
            }
            &.partnerfl3 {
              width: 92px;
              height: 53px;
              margin-left: -46px;
              margin-top: -26.5px;
              background: url("@{imgurl}partnerfl3.png") no-repeat center;
            }
            &.partnerzx1 {
              width: 153px;
              height: 45px;
              margin-left: -76.5px;
              margin-top: -22.5px;
              background: url("@{imgurl}partnerzx1.png") no-repeat center;
            }
            &.partnerzx2 {
              width: 146px;
              height: 48px;
              margin-left: -73px;
              margin-top: -24px;
              background: url("@{imgurl}partnerzx2.png") no-repeat center;
            }
            &.partnerzx3 {
              width: 138px;
              height: 48px;
              margin-left: -69px;
              margin-top: -24px;
              background: url("@{imgurl}partnerzx3.png") no-repeat center;
            }
            &.partnerzx4 {
              width: 156px;
              height: 53px;
              margin-left: -78px;
              margin-top: -26.5px;
              background: url("@{imgurl}partnerzx4.png") no-repeat center;
            }

            &.partnerzx5 {
              width: 135px;
              height: 49px;
              margin-left: -62.5px;
              margin-top: -24.5px;
              background: url("@{imgurl}partnerzx5.png") no-repeat center;
            }
            &.partnerzx6 {
              width: 169px;
              height: 56px;
              margin-left: -84.5px;
              margin-top: -28px;
              background: url("@{imgurl}partnerzx6.png") no-repeat center;
            }
            &.partnerzx7 {
              width:109px;
              height: 63px;
              margin-left: -54.5px;
              margin-top: -31.5px;
              background: url("@{imgurl}partnerzx7.png") no-repeat center;
            }
            &.partnerzx8 {
              width: 36px;
              height: 54px;
              margin-left: -23px;
              margin-top: -27px;
              background: url("@{imgurl}partnerzx8.png") no-repeat center;
            }
            &.partnerzx9 {
              width: 169px;
              height: 20px;
              margin-left: -84.5px;
              margin-top: -10px;
              background: url("@{imgurl}partnerzx9.png") no-repeat center;
            }
            &.partnerzx10 {
              width: 161px;
              height: 55px;
              margin-left: -80.5px;
              margin-top: -27.5px;
              background: url("@{imgurl}partnerzx10.png") no-repeat center;
            }
            &.partnerzx11 {
              width: 69px;
              height: 54px;
              margin-left: -34.5px;
              margin-top: -27px;
              background: url("@{imgurl}partnerzx11.png") no-repeat center;
            }
            &.partnerjs1 {
              width: 164px;
              height: 31px;
              margin-left: -82px;
              margin-top: -12.5px;
              background: url("@{imgurl}partnerjs1.png") no-repeat center;
            }
            &.partnerjs2 {
              width: 166px;
              height: 69px;
              margin-left: -83px;
              margin-top: -34.5px;
              background: url("@{imgurl}partnerjs2.png") no-repeat center;
            }
            &.partnerjs3 {
              width: 162px;
              height: 53px;
              margin-left: -82px;
              margin-top: -26.5px;
              background: url("@{imgurl}partnerjs3.png") no-repeat center;
            }
            &.partnerjs4 {
              width: 108px;
              height: 65px;
              margin-left: -54px;
              margin-top: -34.5px;
              background: url("@{imgurl}partnerjs4.png") no-repeat center;
            }
            &.partnerjs5 {
              width: 153px;
              height: 59px;
              margin-left: -76.5px;
              margin-top: -24.4px;
              background: url("@{imgurl}partnerjs5.png") no-repeat center;
            }
            &.partnerjs6 {
              width: 179px;
              height: 22px;
              margin-left: -89.5px;
              margin-top: -11px;
              background: url("@{imgurl}partnerjs6.png") no-repeat center;
            }
            &.partnerjs7 {
              width: 113px;
              height: 54px;
              margin-left: -56.5px;
              margin-top: -27px;
              background: url("@{imgurl}partnerjs7.png") no-repeat center;
            }
            &.partnerjs8 {
              width: 103px;
              height: 54px;
              margin-left: -51.5px;
              margin-top: -27px;
              background: url("@{imgurl}partnerjs8.png") no-repeat center;
            }
            &.partnerjs9 {
              width: 142px;
              height: 53px;
              margin-left: -71px;
              margin-top: -26.5px;
              background: url("@{imgurl}partnerjs9.png") no-repeat center;
            }
            &.partnerjs10 {
              width: 171px;
              height: 54px;
              margin-left: -85.5px;
              margin-top: -27px;
              background: url("@{imgurl}partnerjs10.png") no-repeat center;
            }
            &.partnerjs11 {
              width: 135px;
              height: 45px;
              margin-left: -67.5px;
              margin-top: -22.5px;
              background: url("@{imgurl}partnerjs11.png") no-repeat center;
            }
            &.partnerrl1 {
              width: 135px;
              height: 60px;
              margin-left: -67.5px;
              margin-top: -30px;
              background: url("@{imgurl}partnerrl1.png") no-repeat center;
            }
            &.partnerrl2 {
              width: 157px;
              height: 50px;
              margin-left: -78.5px;
              margin-top: -25px;
              background: url("@{imgurl}partnerrl2.png") no-repeat center;
            }
            &.partnerrl3 {
              width: 172px;
              height: 50px;
              margin-left: -86px;
              margin-top: -25px;
              background: url("@{imgurl}partnerrl3.png") no-repeat center;
            }
            &.partnerrl4 {
              width: 174px;
              height: 45px;
              margin-left: -87.5px;
              margin-top: -22.5px;
              background: url("@{imgurl}partnerrl4.png") no-repeat center;
            }
            &.partnerrl5 {
              width: 88px;
              height: 51px;
              margin-left: -44px;
              margin-top: -25.5px;
              background: url("@{imgurl}partnerrl5.png") no-repeat center;
            }
            &.partnersw1 {
              width: 147px;
              height: 49px;
              margin-left: -73.5px;
              margin-top: -24.5px;
              background: url("@{imgurl}partnersw1.png") no-repeat center;
            }
            &.partnersw2 {
              width: 177px;
              height: 74px;
              margin-left: -88.5px;
              margin-top: -40.5px;
              background: url("@{imgurl}partnersw2.png") no-repeat center;
            }
            &.partnersw3 {
              width: 163px;
              height: 45px;
              margin-left: -81px;
              margin-top: -20.5px;
              background: url("@{imgurl}partnersw3.png") no-repeat center;
            }
            &.partnersw4 {
              width: 179px;
              height: 59px;
              margin-left: -89.5px;
              margin-top: -29.5px;
              background: url("@{imgurl}partnersw4.png") no-repeat center;
            }
            &.partnersw5 {
              width: 147px;
              height: 54px;
              margin-left: -73.5px;
              margin-top: -27px;
              background: url("@{imgurl}partnersw5.png") no-repeat center;
            }
            &.partnersw6 {
              width: 135px;
              height: 49px;
              margin-left: -67.5px;
              margin-top: -24.5px;
              background: url("@{imgurl}partnersw6.png") no-repeat center;
            }
            &.partnersw7 {
              width: 163px;
              height: 51px;
              margin-left: -82.5px;
              margin-top: -25.5px;
              background: url("@{imgurl}partnersw7.png") no-repeat center;
            }
            &.partnersw8 {
              width: 151px;
              height: 40px;
              margin-left: -75.5px;
              margin-top: -20px;
              background: url("@{imgurl}partnersw8.png") no-repeat center;
            }
            &.partnersw9 {
              width: 173px;
              height: 53px;
              margin-left: -86.5px;
              margin-top: -26.5px;
              background: url("@{imgurl}partnersw9.png") no-repeat center;
            }
            &.partnersw10 {
              width: 169px;
              height: 54px;
              margin-left: -84.5px;
              margin-top: -27px;
              background: url("@{imgurl}partnersw10.png") no-repeat center;
            }
            &.partnersw11 {
              width: 120px;
              height: 63px;
              margin-left: -60px;
              margin-top: -31.5px;
              background: url("@{imgurl}partnersw11.png") no-repeat center;
            }
            &.partnersw12 {
              width: 138px;
              height: 65px;
              margin-left: -69px;
              margin-top: -37.5px;
              background: url("@{imgurl}partnersw12.png") no-repeat center;
            }

            &.partnersw13 {
              width: 176px;
              height: 40px;
              margin-left: -88px;
              margin-top: -20px;
              background: url("@{imgurl}partnersw13.png") no-repeat center;
            }
            &.partnersw14 {
              width: 151px;
              height: 36px;
              margin-left: -75.5px;
              margin-top: -18px;
              background: url("@{imgurl}partnersw14.png") no-repeat center;
            }
            &.partnersw15 {
              width: 114px;
              height: 49px;
              margin-left: -57px;
              margin-top: -29.5px;
              background: url("@{imgurl}partnersw15.png") no-repeat center;
            }
            &.partnersw16 {
              width: 144px;
              height: 40px;
              margin-left: -72px;
              margin-top: -20px;
              background: url("@{imgurl}partnersw16.png") no-repeat center;
            }
            &.partnersw17 {
              width: 160px;
              height: 40px;
              margin-left: -72px;
              margin-top: -20px;
              background: url("@{imgurl}partnersw17.png") no-repeat center;
            }
            &.partnersw18 {
              width: 144px;
              height: 60px;
              margin-left: -72px;
              margin-top: -31px;
              background: url("@{imgurl}partnersw18.png") no-repeat center;
            }
            &.partnersw19 {
              width: 144px;
              height: 65px;
              margin-left: -72px;
              margin-top: -33px;
              background: url("@{imgurl}partnersw19.png") no-repeat center;
            }
            &.partnersw20 {
              width: 100px;
              height: 72px;
              margin-left: -50px;
              margin-top: -36px;
              background: url("@{imgurl}partnersw20.png") no-repeat center;
            }
            &.partnersw21 {
              width: 151px;
              height: 78px;
              margin-left: -75.5px;
              margin-top: -39px;
              background: url("@{imgurl}partnersw21.png") no-repeat center;
            }
            &.partnersw22 {
              width: 144px;
              height: 39px;
              margin-left: -72px;
              margin-top: -29.5px;
              background: url("@{imgurl}partnersw22.png") no-repeat center;
            }
            &.partnersw23 {
              width: 176px;
              height: 29px;
              margin-left: -88px;
              margin-top: -14.5px;
              background: url("@{imgurl}partnersw23.png") no-repeat center;
            }
            &.partnersw24 {
              width: 112px;
              height: 50px;
              margin-left: -56px;
              margin-top: -25px;
              background: url("@{imgurl}partnersw24.png") no-repeat center;
            }
          }
        }
      }
    }
  }

  .partner-topbg {
    background: url("@{imgurl}partner-topbg.png") no-repeat center;
    width: 970px;
    height: 250px;
  }
}