@import "css/index";

/*产品介绍*/
.g-right {
  .m-con-wrap {
    .m-con-bd {
      padding-left: 6px;
      border-bottom: none;
      li {
        font-size: @font14px;
        color: @col-666;
        line-height: 30px;
      }
      li.proname {
        font-size: @font16px;
        color: @col-000;
      }
      .invest {
        .invest-list {
          padding: 25px 0 25px 0;
          border-bottom: 1px dashed @col-eee;
          .right {
            margin-right: 122px;
            width:185px;
            height: 175px;
          }
          .invest-sd {
            background: url("@{imgurl}invest-sd.png?v=1") center no-repeat;
          }
          .invest-mg {
            background: url("@{imgurl}invest-mg.png?v=1") center no-repeat;
          }
          .invest-ddy {
            background: url("@{imgurl}invest-ddy.png?v=1") center no-repeat;
          }
          .invest-xyb {
            background: url("@{imgurl}invest-xyb.png?v=1") center no-repeat;
          }
          .invest-yyp {
            background: url("@{imgurl}invest-yyp.png?v=1") center no-repeat;
          }

        }
        .last-bd {
          border-bottom: none;
          padding-bottom: 40px;
        }
      }

      .fiancing {
        .fiancing-list {
          padding: 40px 0 50px 0;
          border-bottom: 1px solid @col-eee;
          ul {
            margin-right: 20px;
            width:420px;
            li.title {
              color: @col-57a;
            }
            i {
              display: inline-block;
              margin-right: 10px;
              vertical-align: text-bottom;
            }
            i.fian-xsdse {
              background: url("@{imgurl}fian-xsdse.png") no-repeat center;
              width: 24px;
              height: 22px;
            }
            i.fian-xsdme {
              background: url("@{imgurl}fian-xsdme.png") no-repeat center;
              width: 27px;
              height: 25px;
            }
            i.fian-fzd {
              background: url("@{imgurl}fian-fzd.png") no-repeat center;
              width: 27px;
              height: 22px;
            }
            i.fian-dsd {
              background: url("@{imgurl}fian-dsd.png") no-repeat center;
              width: 31px;
              height: 27px;
            }
            i.fian-xfd {
              background: url("@{imgurl}fian-xfd.png") no-repeat center;
              width: 26px;
              height: 26px;
            }
            i.fian-czd {
              background: url("@{imgurl}fian-czd.png") no-repeat center;
              width: 29px;
              height: 21px;
            }
            i.fian-xhd {
              background: url("@{imgurl}fian-xhd.png") no-repeat center;
              width: 22px;
              height: 30px;
            }
            i.fian-xyd {
              background: url("@{imgurl}fian-xyd.png") no-repeat center;
              width: 33px;
              height: 24px;
            }
          }
        }
        .border-bnone {
          border-bottom: none;
        }
      }

    }

  }
}











