@import "css/index";

/*安全保障*/
.g-right {
  .m-con-wrap {
    margin-bottom: 50px;
    border-bottom: none;
    .m-con-bd {
      ul {
        margin:0 20px;
        li {
          float: left;
          display: inline-block;
          margin-bottom: 10px;
          a {
            position: relative;
            display: inline-block;
            width: 226px;
            height: 208px;
            cursor: pointer;
            .border(#dcdcdc);
            i {
              position: absolute;
              position: absolute;
              left: 50%;
              margin-left: -92px;
              top: 50%;
              margin-top: -64.5px;
              //2018.4.2add
              &.honor2018{
                display: inline-block;
                background: url("@{imgurl}honor/honor2018.png") no-repeat center;
                width: 132px;
                height: 165px;
                margin-left: -66px;
                margin-top: -82px;
              }
              &.honor2017-1{
                display: inline-block;
                background: url("@{imgurl}honor/honor2017-1.png") no-repeat center;
                width: 124px;
                height: 155px;
                margin-left: -62px;
                margin-top: -78px;
              }
              &.honor2017-2{
                display: inline-block;
                background: url("@{imgurl}honor/honor2017-2.png") no-repeat center;
                width: 126px;
                height: 157px;
                margin-left: -63px;
                margin-top: -78px;
              }

              &.honor2017-3{
                display: inline-block;
                background: url("@{imgurl}honor/honor2017-3.png") no-repeat center;
                width: 162px;
                height: 118px;
                margin-left: -81px;
                margin-top: -59px;
              }
              &.honor2017-4{
                display: inline-block;
                background: url("@{imgurl}honor/honor2017-4.png") no-repeat center;
                width: 162px;
                height: 118px;
                margin-left: -81px;
                margin-top: -59px;
              }
              &.honor2017-5{
                display: inline-block;
                background: url("@{imgurl}honor/honor2017-5.png") no-repeat center;
                width: 124px;
                height: 155px;
                margin-left: -62px;
                margin-top: -78px;
              }

              &.honor2017-6{
                display: inline-block;
                background: url("@{imgurl}honor/honor2017-6.png") no-repeat center;
                width: 160px;
                height: 117px;
                margin-left: -80px;
                margin-top: -58px;
              }
              &.honor2017-7{
                display: inline-block;
                background: url("@{imgurl}honor/honor2017-7.png") no-repeat center;
                width: 164px;
                height: 120px;
                margin-left: -82px;
                margin-top: -60px;
              }
              &.honor2017-8{
                display: inline-block;
                background: url("@{imgurl}honor/honor2017-8.png") no-repeat center;
                width: 128px;
                height: 160px;
                margin-left: -64px;
                margin-top: -80px;
              }

              &.honor2017-9{
                display: inline-block;
                background: url("@{imgurl}honor/honor2017-9.png") no-repeat center;
                width: 136px;
                height: 170px;
                margin-left: -68px;
                margin-top: -85px;
              }
              &.honor2017-10{
                display: inline-block;
                background: url("@{imgurl}honor/honor2017-10.png") no-repeat center;
                width: 132px;
                height: 165px;
                margin-left: -66px;
                margin-top: -82px;
              }
              &.honor2017-11{
                display: inline-block;
                background: url("@{imgurl}honor/honor2017-11.png") no-repeat center;
                width: 128px;
                height: 160px;
                margin-left: -64px;
                margin-top: -80px;
              }

              &.power{
                display: inline-block;
                background: url("@{imgurl}honor-power.png") no-repeat center;
                width: 147px;
                height: 187px;
                margin-left: -72px;
                margin-top: -93px;
              }
              &.association{
                display: inline-block;
                background: url("@{imgurl}honor-association.png") no-repeat center;
                width: 174px;
                height: 118px;
                margin-left: -86px;
                margin-top: -60px;
              }
              &.consume{
                display: inline-block;
                background: url("@{imgurl}honor-consume.png") no-repeat center;
                width: 134px;
                height: 176px;
                margin-left: -67px;
                margin-top: -87.5px;
              }
              &.social{
                display: inline-block;
                background: url("@{imgurl}honor-social.png") no-repeat center;
                width: 137px;
                height: 187px;
                margin-left: -67px;
                margin-top: -93.5px;
              }
              &.wj {
                display: inline-block;
                background: url("@{imgurl}honor-wj.png") no-repeat center;
                width: 184px;
                height: 129px;
                margin-left: -92px;
                margin-top: -64.5px;
              }
              &.wjt {
                display: inline-block;
                background: url("@{imgurl}honor-wjt.png") no-repeat center;
                width: 185px;
                height: 123px;
                margin-left: -92.5px;
                margin-top: -61.5px;
              }
              &.cifc{
                display: inline-block;
                background: url("@{imgurl}honor-cifc.png") no-repeat center;
                width: 178px;
                height: 137px;
                margin-left: -89px;
                margin-top: -68.5px;
              }
              &.honor-aa{
                display: inline-block;
                background: url("@{imgurl}honor-aa.png") no-repeat center;
                width: 180px;
                height: 133px;
                margin-left: -90px;
                margin-top: -66.5px;
              }
              &.honor-vip{
                display: inline-block;
                background: url("@{imgurl}honor-vip.png") no-repeat center;
                width: 124px;
                height: 167px;
                margin-left: -62px;
                margin-top: -83.5px;
              }
              &.honor-vipbook{
                display: inline-block;
                background: url("@{imgurl}honor-vipbook.png") no-repeat center;
                width: 182px;
                height: 130px;
                margin-left: -91px;
                margin-top: -65px;
              }
              &.honor-vicechair{
                display: inline-block;
                background: url("@{imgurl}honor-vicechair.png") no-repeat center;
                width: 138px;
                height: 168px;
                margin-left: -69px;
                margin-top: -84px;
              }
              &.honor-meber{
                display: inline-block;
                background: url("@{imgurl}honor-meber.png") no-repeat center;
                width: 188px;
                height: 136px;
                margin-left: -94px;
                margin-top: -63px;
              }
              &.honor-innovat{
                display: inline-block;
                background: url("@{imgurl}honor-innovat.png") no-repeat center;
                width: 71px;
                height: 165px;
                margin-left: -30.5px;
                margin-top: -82.5px;
              }
              &.honor-fm {
                display: inline-block;
                background: url("@{imgurl}honor-fm.png") no-repeat center;
                width: 121px;
                height: 162px;
                margin-left: -60.5px;
                margin-top: -81px;
              }
              &.honor-01 {
                display: inline-block;
                background: url("@{imgurl}honor-01.png") no-repeat center;
                width: 177px;
                height: 118px;
                margin-left: -88.5px;
                margin-top: -59px;
              }
              &.honor-02{
                display: inline-block;
                background: url("@{imgurl}honor-02.png") no-repeat center;
                width: 175px;
                height: 126px;
                margin-left: -87.5px;
                margin-top: -63px;
              }
              &.honor-03{
                display: inline-block;
                background: url("@{imgurl}honor-03.png") no-repeat center;
                width: 130px;
                height: 161px;
                margin-left: -60px;
                margin-top: -80.5px;
              }
              //&.honor-04{
              //  display: inline-block;
              //  background: url("@{imgurl}honor-04.png") no-repeat center;
              //  width: 182px;
              //  height: 133px;
              //  margin-left: -91px;
              //  margin-top: -66.5px;
              //}
              &.honor-05{
                display: inline-block;
                background: url("@{imgurl}honor-05.png") no-repeat center;
                width: 177px;
                height: 118px;
                margin-left: -88.5px;
                margin-top: -59px;
              }
              &.honor-06{
                display: inline-block;
                background: url("@{imgurl}honor-06.png") no-repeat center;
                width: 183px;
                height: 133px;
                margin-left: -91.5px;
                margin-top: -84px;
              }
              &.honor-07{
                display: inline-block;
                background: url("@{imgurl}honor-07.png") no-repeat center;
                width: 129px;
                height: 162px;
                margin-left: -64.5px;
                margin-top: -81px;
              }
              &.honor-08{
                display: inline-block;
                background: url("@{imgurl}honor-08.png") no-repeat center;
                width: 182px;
                height: 135px;
                margin-left: -91px;
                margin-top: -62.5px;
              }
              &.honor-09 {
                display: inline-block;
                background: url("@{imgurl}honor-09.png") no-repeat center;
                width: 38px;
                height: 147px;
                margin-left: -19px;
                margin-top: -73.5px;
              }
              &.honor-10 {
                display: inline-block;
                background: url("@{imgurl}honor-10.png") no-repeat center;
                width: 86px;
                height: 142px;
                margin-left: -43px;
                margin-top: -71px;
              }
              &.honor-11{
                display: inline-block;
                background: url("@{imgurl}honor-11.png") no-repeat center;
                width: 99px;
                height: 153px;
                margin-left: -49.5px;
                margin-top: -71.2px;
              }
              &.honor-12{
                display: inline-block;
                background: url("@{imgurl}honor-12.png") no-repeat center;
                width: 128px;
                height: 161px;
                margin-left: -64px;
                margin-top: -80.5px;
              }
              &.honor-13{
                display: inline-block;
                background: url("@{imgurl}honor-13.png") no-repeat center;
                width: 124px;
                height: 159px;
                margin-left: -62px;
                margin-top: -74.5px;
              }
              &.honor-14{
                display: inline-block;
                background: url("@{imgurl}honor-14.png") no-repeat center;
                width: 59px;
                height: 149px;
                margin-left: -24.5px;
                margin-top: -74.5px;
              }
              &.honor-15{
                display: inline-block;
                background: url("@{imgurl}honor-15.png") no-repeat center;
                width: 247px;
                height: 585px;
                margin-left: -123.5px;
                margin-top: -292.5px;
              }
              &.honor-16{
                display: inline-block;
                background: url("@{imgurl}honor-16.png") no-repeat center;
                width: 54px;
                height: 155px;
                margin-left: -27px;
                margin-top: -72.5px;
              }
              &.honor-17{
                display: inline-block;
                background: url("@{imgurl}honor-17.png") no-repeat center;
                width: 42px;
                height: 155px;
                margin-left: -21px;
                margin-top: -72.5px;
              }
              &.honor-18{
                display: inline-block;
                background: url("@{imgurl}honor-18.png") no-repeat center;
                width: 129px;
                height: 160px;
                margin-left: -64.5px;
                margin-top: -80px;
              }
              &.honor-19 {
                display: inline-block;
                background: url("@{imgurl}honor-19.png") no-repeat center;
                width: 126px;
                height: 160px;
                margin-left: -63px;
                margin-top: -80px;
              }
              &.honor-20 {
                display: inline-block;
                background: url("@{imgurl}honor-20.png") no-repeat center;
                width: 72px;
                height: 147px;
                margin-left: -36px;
                margin-top: -73.5px;
              }
              //&.honor-21{
              //  display: inline-block;
              //  background: url("@{imgurl}honor-21.png") no-repeat center;
              //  width: 42px;
              //  height: 159px;
              //  margin-left: -21px;
              //  margin-top: -79.2px;
              //}
              &.honor-22{
                display: inline-block;
                background: url("@{imgurl}honor-12.png") no-repeat center;
                width: 127px;
                height: 162px;
                margin-left: -63.5px;
                margin-top: -81px;
              }
              &.honor-23{
                display: inline-block;
                background: url("@{imgurl}honor-23.png") no-repeat center;
                width: 126px;
                height: 160px;
                margin-left: -63px;
                margin-top: -80px;
              }
              &.honor-24{
                display: inline-block;
                background: url("@{imgurl}honor-24.png") no-repeat center;
                width: 61px;
                height: 150px;
                margin-left: -35.5px;
                margin-top: -75px;
              }
              &.honor-25{
                display: inline-block;
                background: url("@{imgurl}honor-25.png") no-repeat center;
                width: 45px;
                height: 157px;
                margin-left: -22.5px;
                margin-top: -78.5px;
              }
              &.honor-26{
                display: inline-block;
                background: url("@{imgurl}honor-26.png") no-repeat center;
                width: 129px;
                height: 152px;
                margin-left: -64.5px;
                margin-top: -76px;
              }
              &.honor-27{
                display: inline-block;
                background: url("@{imgurl}honor-27.png") no-repeat center;
                width: 46px;
                height: 136px;
                margin-left: -23px;
                margin-top: -63px;
              }
              &.honor-28{
                display: inline-block;
                background: url("@{imgurl}honor-28.png") no-repeat center;
                width: 122px;
                height: 123px;
                margin-left: -61px;
                margin-top: -61.5px;
              }
              &.honor-29{
                display: inline-block;
                background: url("@{imgurl}honor-29.png") no-repeat center;
                width: 180px;
                height: 135px;
                margin-left: -90px;
                margin-top: -67.5px;
              }
              &.honor-30{
                display: inline-block;
                background: url("@{imgurl}honor-30.png") no-repeat center;
                width: 121px;
                height: 164px;
                margin-left: -60.5px;
                margin-top: -82px;
              }
              &.honor-31{
                display: inline-block;
                background: url("@{imgurl}honor-31.png") no-repeat center;
                width: 181px;
                height: 138px;
                margin-left: -90.5px;
                margin-top: -64px;
              }
            }
          }
          p {
            width: 228px;
            padding: 20px 0 0 0;
            height: 60px;
            line-height: 30px;
            text-align: center;
          }
          &.mid{
            margin: 0 99px;
          }
        }
      }
    }
  }
  .honor-topbg {
    background: url("@{imgurl}honor-top.jpg") no-repeat center;
    width: 970px;
    height: 250px;
    margin-bottom: 40px;
  }

}