@media screen and (max-width: 1366px) {
  .section img {
    width: 70%;
  }
  .bkgL img {
    width: 40%;
  }
}
.section {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background: url("img/reportSept/bkg.jpg") center no-repeat;
  background-size: 100% 100%;
}
.section img {
  display: block;
  vertical-align: middle;
  margin: 0 auto;
}
.bkgF {
  background: url("img/reportSept/bkgF.jpg") center no-repeat;
  background-size: 100% 100%;
}
.bkgL {
  background: url("img/reportSept/bkgL.jpg") center no-repeat;
  background-size: 100% 100%;
}
#menu li {
  display: block;
  width: 15px;
  height: 15px;
  background: url("img/reportSept/default.png") no-repeat center;
  opacity: 80;
  margin-bottom: 20px;
}
#menu li.active {
  background: url("img/reportSept/active.png") no-repeat center;
}
#menu li:hover {
  background: url("img/reportSept/active.png") no-repeat center;
}
#menu li a,
#menu li.active a {
  display: block;
  width: 15px;
  height: 15px;
  text-decoration: none;
}
#menu li a:focus,
#menu li.active a:focus {
  outline: none;
}
#menu {
  display: inline-block;
  position: fixed;
  top: 50%;
  right: 70px;
  width: 15px;
  height: 516px;
  margin-top: -258px;
  z-index: 70;
}
