@import "css/index";
/*风险管理*/
.g-right {
  .m-con-wrap {
    //风险管理
    .risk-manag {
      padding-top: 40px;
      padding-bottom: 50px;
      border-bottom: 1px dashed @col-eee;
      .title {
        font-size: @font16px;
        color: @col-000;
      }
      .risk-content {
        width: 602px;
      }
      .risk-img {
        width: 320px;
        span {
          display: inline-block;
          &.img1 {
            background: url("@{imgurl}rickmng1.png") no-repeat center;
            width: 179px;
            height: 173px;
            margin-right: 23px;
          }
          &.img2 {
            background: url("@{imgurl}rickmng2.png") no-repeat center;
            width: 218px;
            height: 143px;
            margin-left: 23px;
          }
          &.img3 {
            background: url("@{imgurl}rickmng3.png") no-repeat center;
            width: 211px;
            height: 181px;
            margin-top: 40px;
          }
          &.img4 {
            background: url("@{imgurl}rickmng4.png") no-repeat center;
            width: 201px;
            height: 169px;
            margin-left: 23px;
          }
        }
      }
    }
    .last-rm {
      border-bottom: none;
    }
  }
}