@import "css/index";

/*管理团队*/
.g-right {
  .m-con-wrap {
    .m-con-bd {
      padding: 50px 0 80px;
      border-bottom: 1px dashed #eee;
      ul {
        li {
          font-size: @font14px;
          color: @col-666;
          line-height: 30px;
          p.first {
            display: inline-block;
            padding-left: 0;
          }
          i {
            display: inline-block;
            width: 4px;
            height: 4px;
            background: @col-57a;
            margin-right: 10px;
            vertical-align: middle;
          }
          &.tit {
            font-size: @font18px;
            color: @col-000;
            margin-bottom: 5px;
            span {
              padding-right: 10px;
              font-size: @font28px;
              color: @col-57a;
            }
          }
        }
      }
      .zy{
        margin-right:54px;
        width: 187px;
        height: 233px;
        background: url("@{imgurl}team-zy.png") no-repeat center;
      }
      .czf{
        margin-right:54px;
        width: 187px;
        height: 154px;
        background: url("@{imgurl}team-czf.png") no-repeat center;
      }
      .zhy{
        margin-right:54px;
        width: 187px;
        height: 154px;
        background: url("@{imgurl}team-zhy.png") no-repeat center;
      }
      .ll{
        margin-right:54px;
        width: 187px;
        height: 154px;
        background: url("@{imgurl}team-ll.png") no-repeat center;
      }
      .qh{
        margin-right:54px;
        width: 187px;
        height: 154px;
        background: url("@{imgurl}team-qh.png") no-repeat center;
      }
      .lwj{
        margin-right:54px;
        width: 187px;
        height: 154px;
        background: url("@{imgurl}team-lwj.png") no-repeat center;
      }
      .czh{
        margin-right:54px;
        width: 187px;
        height: 154px;
        background: url("@{imgurl}team-czh.png") no-repeat center;
      }
      .dhw{
        margin-right:54px;
        width: 187px;
        height: 154px;
        background: url("@{imgurl}team-dhw.png") no-repeat center;
      }
      .yj{
        margin-right:54px;
        width: 187px;
        height: 154px;
        background: url("@{imgurl}team-yj.png") no-repeat center;
      }
    }
    .bdn{
      border-bottom: none;
    }
  }
}