@import '../../../node_modules/antd-mobile/lib/style/index.css';
@import '../../../node_modules/antd-mobile/lib/toast/style/index.css';
@import '../../../node_modules/antd-mobile/lib/modal/style/index.css';
@import '../../../node_modules/antd-mobile/lib/button/style/index.css';
@import '../../../node_modules/antd-mobile/lib/icon/style/index.css';
@import "../../../static/html/css/base.css";
@import '../../../static/html/risk_rating/index.css';

h1{
    font-weight: normal
}
.show{
    display: block!important;
}
.hide{
    display: none;
}