/*
* xui动画组件v0.1
*/

/*旋转(顺)*/
@-webkit-keyframes am-r360 {
  0% {
    -webkit-transform : rotate(0deg);
  }
  100% {
    -webkit-transform : rotate(360deg);
  }
}

@-moz-keyframes am-r360 {
  0% {
    -moz-transform : rotate(0deg);
  }
  100% {
    -moz-transform : rotate(360deg);
  }
}

@-o-keyframes am-r360 {
  0% {
    -o-transform : rotate(0deg);
  }
  100% {
    -o-transform : rotate(360deg);
  }
}

@keyframes am-r360 {
  0% {
    transform : rotate(0deg);
  }
  100% {
    transform : rotate(360deg);
  }
}

/*旋转(逆)*/
@-webkit-keyframes am-l360 {
  0% {
    -webkit-transform : rotate(0deg);
  }
  100% {
    -webkit-transform : rotate(-360deg);
  }
}

@-moz-keyframes am-l360 {
  0% {
    -moz-transform : rotate(0deg);
  }
  100% {
    -moz-transform : rotate(-360deg);
  }
}

@-o-keyframes am-l360 {
  0% {
    -o-transform : rotate(0deg);
  }
  100% {
    -o-transform : rotate(-360deg);
  }
}

@keyframes am-l360 {
  0% {
    transform : rotate(0deg);
  }
  100% {
    transform : rotate(-360deg);
  }
}
