.detail-crumbs {
  margin-bottom: 20px;
  background:#57a;
  .crumbs {
    height: 34px;
    margin: 0 auto;
    width: 1200px;
    font:normal 14px/34px Microsoft YaHei;
    color: #fff;
    a,b{
      color: #fff;
      font:normal 14px/34px Microsoft YaHei;
      cursor: pointer;
    }
  }
}
body{
  background: #F6F6F6;
}

.container{
  width:1140px;
  background: #fff;
  border: 1px solid #dedede;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
  padding:30px;
  h2{
    text-align: center;
    font:300 28px/34px Microsoft YaHei;
    color: #e73735;
  }
  h6{
    font:300 20px/34px Microsoft YaHei;
    color: #333;
    margin-top:22px;
  }
  p{
    text-indent: 2em;
    font:300 16px/30px Microsoft YaHei;
  }
  span{
    display: block;
    text-align: right;
    font:300 16px/30px Microsoft YaHei;
  }
}
