@keyframes open {

  0% {
    transform : translate3d(120%, 0, 0);
  }
  100% {
    transform : translate3d(0, 0, 0);
  }
}

@-webkit-keyframes open {

  0% {
    -webkit-transform : translate3d(120%, 0, 0);
  }
  100% {
    -webkit-transform : translate3d(0, 0, 0);
  }
}

@keyframes close {
  0% {
    transform : translate3d(0, 0, 0);
  }
  90% {
    transform : translate3d(120%, 0, 0);
  }
}

@-webkit-keyframes close {
  0% {
    -webkit-transform : translate3d(0, 0, 0);
  }
  90% {
    -webkit-transform : translate3d(120%, 0, 0);
  }
}

[frame=mobile2] {
  .win[win=index] {
    display           : block;
    width             : 100%;
    min-height        : 100%;
    z-index           : 1;
    -webkit-transform : translate3d(0, 0, 0);
    transform         : translate3d(0, 0, 0);
  }
  .win {
    background        : $bg-back;
    display           : none;
    width             : 100%;
    height            : 100%;
    top               : 0;
    left              : 0;
    position          : absolute;
    z-index           : 2;
    -webkit-transform : translate3d(120%, 0, 0);
    transform         : translate3d(120%, 0, 0);
  }
  .win.open {
    display           : block;
    animation         : open 350ms ease 50ms forwards;
    -webkit-animation : open 350ms ease 50ms forwards;
  }
  .win.close {
    display           : block;
    animation         : close 350ms ease 50ms forwards;
    -webkit-animation : close 350ms ease 50ms forwards;
  }

}