
/*面包屑*/
.detail-crumbs {
  margin-bottom: 20px;
  background:#57a8ff;
  .crumbs {
    margin: 0 auto;
    width: 1200px;
    font:400 14px/34px "microsoft yahei";
    color: #fff;
    a,b{
      color: #fff;
      font-weight: 400;
    }
  }
}
.container {
  width: 1100px;
  border: 1px solid #eee;
  background: #fff;
  margin: 20px auto;
  padding: 0 50px 50px;
  &.serve-con{
    padding: 0 50px 100px;
  }
  * {
    margin: 0;
    color: #878d96;
  }
  h1 {
    text-align: center;
    font: 400 22px/60px 'MicroSoft YaHei';
    color: #525252;
    margin-top: 50px;
  }
  h5 {
    font: 400 14px/28px 'MicroSoft YaHei';
  }
  h6{
    font: 300 14px/28px 'MicroSoft YaHei';
  }
  h3{
    font: 400 22px/60px 'MicroSoft YaHei';
    color: #525252;
    margin-top: 14px;
  }
  p {
    text-indent: 2em;
    font: 300 14px/28px 'MicroSoft YaHei';
    position: relative;
    a{
      color: #57a8ff;
      &:hover{
        color: #00498a;
      }
    }
  }
  .stamp{
    position: absolute;
    display: block;
    width: 169px;
    height: 169px;
    top: -64px;
    left: 105px;
    background: url("img/stamp.png") 0 0 no-repeat;
  }
  span {
    display: block;
    text-align: right;
    font: 300 14px/28px 'MicroSoft YaHei';
    margin-right: 100px;
  }
  .people-detail {
    margin: 0 auto;
    border-collapse: collapse;
    width: 518px;
    th {
      background: #D9D9D9;
      padding: 0cm 5.4pt 0cm 5.4pt;
      width: 97.55pt;
      height: 28.55pt;
      font: 400 14px 'MicroSoft YaHei';
    }
  }
  .money-detail {
    margin: 0 auto;
    border-collapse: collapse;
    td {
      padding: 0cm 5.4pt 0cm 5.4pt;
      width: 97.55pt;
      height: 28.55pt;
      font: 400 14px 'MicroSoft YaHei';
    }
    .last{
      width:120pt;
    }
    .haha{
      text-align: right;
    }
  }
  h2{
    font: 200 22px/60px 'MicroSoft YaHei';
    color: #525252;
  }
  .table-detail{
    border-collapse: collapse;
    width:516px;
    th{
      background: #D9D9D9;
      padding: 0cm 5.4pt 0cm 5.4pt;
      width: 97.55pt;
      height: 28.55pt;
      font: 400 14px 'MicroSoft YaHei';
    }
    td {
      padding: 0cm 5.4pt 0cm 5.4pt;
      width: 97.55pt;
      height: 28.55pt;
      font: 400 14px 'MicroSoft YaHei';
    }
  }
  .serve-money{
    margin: 30px auto;
    border-collapse: collapse;
    width: 518px;
    td {
      padding: 0cm 5.4pt 0cm 5.4pt;
      width: 97.55pt;
      height: 28.55pt;
      font: 400 14px 'MicroSoft YaHei';
      border: 1px solid #000;
    }
  }
}
