.am-hide-ae { animation : am-hide-ae .3s forwards; -webkit-animation : am-hide-ae .3s forwards; opacity: 1; }

@-webkit-keyframes am-hide-ae {
  0% { -webkit-transform : scale(1, 1) translateX(0); opacity : 1 }
  70% { -webkit-transform : scale(.8, .8) translateX(0); opacity : .5 }
  100% { -webkit-transform : scale(.8, .8) translateX(-100%); opacity : 0 }
}

@keyframes am-hide-ae {
  0% { transform : scale(1, 1) translateX(0); opacity : 1 }
  70% { transform : scale(.8, .8) translateX(0); opacity : .5 }
  100% { transform : scale(.8, .8) translateX(-100%); opacity : 0 }
}