
@font-face {font-family: "icon";
  src: url('iconfont.eot?t=1493810562207'); /* IE9*/
  src: url('iconfont.eot?t=1493810562207#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1493810562207') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1493810562207') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1493810562207#icon') format('svg'); /* iOS 4.1- */
}

.icon {
  font-family:"icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bottom:before { content: "\e658"; }

.icon-left:before { content: "\e659"; }

.icon-right:before { content: "\e65a"; }

.icon-top:before { content: "\e65b"; }

.icon-error:before { content: "\e605"; }

.icon-success:before { content: "\e606"; }

.icon-error-b:before { content: "\e607"; }

.icon-success-b:before { content: "\e608"; }

.icon-menu:before { content: "\e63d"; }

