
.container{
  width: 100%;
  min-width: 1200px;
  overflow: hidden;
  .wrap-first{
    height: 1308px;
    background: url("img/bg1.jpg") center no-repeat;
  }
  .wrap-second{
    height: 3023px;
    background: url("img/bg2.jpg") center no-repeat;
  }
  .wrap-third{
    height: 254px;
    background: url("img/bg3.jpg") center no-repeat;
  }
}

