
//page10

.page10-chart1 {
  background: url(../imgs/page10-chart1-line.png) no-repeat center !important;
  background-size: contain !important;
  position: relative;
  width: 100%;
  height: 46vw;
  max-height: 190px;
}

.page10-chart1 > * {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#page10-chart-text > * {
  position: absolute;
  //font-size: 10px;
}

#page10-chart-text > *:nth-child(1) {
  color: #945d28;
  top: 1%;
  right: 0;
}

#page10-chart-text > *:nth-child(2) {
  color: #945d28;
  top: 44%;
  right: 0;
}

#page10-chart-text > *:nth-child(3) {
  color: #e8b98b;
  top: 78.5%;
  right: 0;
}

#page10-chart-text > *:nth-child(4) {
  color: #c58b53;
  top: 78.5%;
  left: 0;
}

#page10-chart-text > *:nth-child(5) {
  color: #945d28;
  top: 44%;
  left: 0;
}

#page10-chart-text > *:nth-child(6) {
  color: #c58b53;
  top: 1%;
  left: 0;
}

#page10-chart-text > h2 {
  color: #c58b53;
  width: 100%;
  top: 36%;
  left: 0;
  text-align: center;
}

#page10-chart-text > h2 > *:nth-child(1) {
  font-size: 12px
}

#page10-chart-text > h2 > *:nth-child(2) {
  line-height: 1;
  font-size: 20px;
  font-weight: bolder;
  //background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#71ff9d), to(#02c780));
  //-webkit-background-clip: text;
  //-webkit-text-fill-color: transparent;
  color:#c58b53
}

.page10-chart2 {
  background: url(../imgs/page10-chart2-line.png) no-repeat center !important;
  background-size: contain !important;
  position: relative;
}

.page10-chart2 > * {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#page10-chart2-text > * {
  position: absolute;
  font-size: 10px;
}

#page10-chart2-text > *:nth-child(1) {
  color: #f1cd27;
  top: 4%;
  right: 0;
}

#page10-chart2-text > *:nth-child(2) {
  color: #18c16c;
  top: 30.5%;
  right: 0;
}

#page10-chart2-text > *:nth-child(3) {
  color: #01a351;
  top: 79%;
  right: 0;
}

#page10-chart2-text > *:nth-child(4) {
  color: #18c16c;
  top: 79%;
  left: 0;
}

#page10-chart2-text > *:nth-child(5) {
  color: #58efa4;
  top: 54%;
  left: 0;
}

#page10-chart2-text > *:nth-child(6) {
  color: #baf43e;
  top: 29.5%;
  left: 0;
}

#page10-chart2-text > *:nth-child(7) {
  color: #f2ff29;
  top: 4%;
  left: 0;
}

#page10-chart2-text > h2 {
  color: #58efa6;
  width: 100%;
  top: 40%;
  left: 0%;
  text-align: center;
}

#page10-chart2-text > h2 > *:nth-child(1) {
  font-size: 12px
}

#page10-chart2-text > h2 > *:nth-child(2) {
  line-height: 1;
  font-size: 20px;
  font-weight: bolder;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#71ff9d), to(#02c780));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
}


.swiper-slide-active #page10-chart li div p{  transition: all 1s;  -webkit-transition: all 1s;}
.swiper-slide-active #page10-chart li:nth-child(1) div p{width: 46.1%}
.swiper-slide-active #page10-chart li:nth-child(2) div p{width: 32.1%}
.swiper-slide-active #page10-chart li:nth-child(3) div p{width: 8.9%}
.swiper-slide-active #page10-chart li:nth-child(4) div p{width: 6.6%}
.swiper-slide-active #page10-chart li:nth-child(5) div p{width: 4.5%}
.swiper-slide-active #page10-chart li:nth-child(6) div p{width: 1.1%}
.swiper-slide-active #page10-chart li:nth-child(7) div p{width: 0.6%}

.swiper-slide10 .xui-bar li {
  padding: 0 .5rem 0 6em;

}

.swiper-slide10 .xui-bar li>p{
  display: inline-block;
  text-align: justify;
  width: 5.5rem;

  span{
    display: inline-block;
    padding-left: 100%;
  }
}
.swiper-slide10 .mix-title1{
  margin-bottom: 1.5rem;
}