
//page3

.swiper-slide-active #page3-chart li div p{  transition: all 1s;  -webkit-transition: all 1s;}
.swiper-slide-active #page3-chart li:nth-child(1) div p{width: 28.6%}
.swiper-slide-active #page3-chart li:nth-child(2) div p{width: 9.6%}
.swiper-slide-active #page3-chart li:nth-child(3) div p{width: 8.5%}
.swiper-slide-active #page3-chart li:nth-child(4) div p{width: 10.8%}
.swiper-slide-active #page3-chart li:nth-child(5) div p{width: 6.2%}
.swiper-slide-active #page3-chart li:nth-child(6) div p{width: 4.3%}
.swiper-slide-active #page3-chart li:nth-child(7) div p{width: 4.2%}
.swiper-slide-active #page3-chart li:nth-child(8) div p{width: 3.8%}
.swiper-slide-active #page3-chart li:nth-child(9) div p{width: 3.1%}
.swiper-slide-active #page3-chart li:nth-child(10) div p{width: 2.3%}
.swiper-slide-active #page3-chart li:nth-child(11) div p{width: 18.6%}

.page3-text2 {
  width: 100%;
}
.page3-text2 > * {
  margin: 3% 0;
}
.page3-text2 li:nth-child(1){
  width: 30%;
}
.page3-text2 li:nth-child(2){
  width: 34.6%;
}
.page3-text2 li:nth-child(3){
  width: 34.6%;
}
.page3-text2 p {
  display: inline-block;
  width: 100%;
  color: #000000;
  background: #20d080;
  text-align: center;
  line-height: 2rem;
  padding-bottom: .2rem;
  overflow: hidden;
}
.page3-text2 p span{
  position: relative;
}
.page3-text2 p span:before{
  content: " ";
  display: inline-block;
  position: absolute;
  width: 1000%;
  height: 1px;
  //background: #191919;
  background: 	linear-gradient(0deg, rgba(0,0,0,0) 30%, rgba(25,25,25,1.00) 70%);
  right: 0;
  bottom:-.3rem;
}
.page3-text2 h1 {
  font-size: 2rem;
  line-height: 3rem;
}



