@import "../tmp/merge/dialog.index.css";

*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background: @bgColor !important;
  font-family: "MicroSoft YaHei" !important;
}

#J_wrapBody {
  background: @bgColor !important;
}

.bodyhidden {
  overflow: hidden !important;
}

.bodyauto {
  overflow: auto !important;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: @bgColor;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

input, textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}

img {
  vertical-align: bottom;
  display: block;
}

.f_left {
  float: left;
}

.f_right {
  float: right;
}

.clearfix::after, .clearfix::before {
  content: ".";
  line-height: 0;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.center {
  margin: 0 auto;
  text-align: center;
}

@bgColor: #18213b;
@textstroke: #282828;
@titleColor: #ffd200;
@popbgColor: #e32f30;
@popconColor: #f9e9c5;
@popColor: #ac2e32;
//定义一个变量和一个mixin
@baseFontSize: 32; //基于视觉稿横屏尺寸/100得出的基准font-size
.px2rem(@name, @px) {
    @{name}: unit(round(@px/@baseFontSize, 4), rem);
}

header {
  .px2rem(height, 905rem);
  width: 100%;
  background: url("imgs/top.png") 0 0 no-repeat;
  background-size: 100% 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  p{
    margin-top:24rem;
    color: #ffd200;
    font-size:1.5rem;
    text-align: center;
    position: relative;
    font-weight: 700;
    text-shadow: 0px 1px 0px #e23a2b, 0px -1px 0px #e23a2b, 1px 0px 0px #e23a2b, -1px 0px 0px #e23a2b, 1px 1px 0px #e23a2b, 1px -1px 0px #e23a2b, -1px -1px 0px #e23a2b, 1px -1px 0px #e23a2b, -1px 1px 0px #e23a2b, -1px -1px 0px #e23a2b;
    -webkit-text-shadow: 0px 1px 0px #e23a2b, 0px -1px 0px #e23a2b, 1px 0px 0px #e23a2b, -1px 0px 0px #e23a2b, 1px 1px 0px #e23a2b, 1px -1px 0px #e23a2b, -1px -1px 0px #e23a2b, 1px -1px 0px #e23a2b, -1px 1px 0px #e23a2b, -1px -1px 0px #e23a2b;
  }
}

.container {
  width: 90%;
  background: #e32f30;
  margin: 0 auto;
  border-radius: 15/32rem;
  margin-top: -1rem;
  > div {
    background: #f9e9c5;
    width: 31%;
    .px2rem(height, 250rem);
    float: left;
    margin: 0 auto;
    text-align: center;
    margin-left: 12/32rem;
    margin-bottom: 12/32rem;
    position: relative;
    &:nth-child(-n+3) {
      .px2rem(height, 280rem);
      padding-top: 40/32rem;
    }
    &:nth-child(7) {
      border-radius: 0 0 0 15/32rem;
    }
    &:nth-child(9) {
      border-radius: 0 0 15/32rem 0;
    }
    p {
      font-size: 26/32rem;
      color: #13ffc2;
      font-weight: 500;
      -webkit-text-shadow: 0px 1px 0px #282828, 0px -1px 0px #282828, 1px 0px 0px #282828, -1px 0px 0px #282828, 1px 1px 0px #282828, 1px -1px 0px #282828, -1px -1px 0px #282828, 1px -1px 0px #282828, -1px 1px 0px #282828, -1px -1px 0px #282828;
      text-shadow: 0px 1px 0px #282828, 0px -1px 0px #282828, 1px 0px 0px #282828, -1px 0px 0px #282828, 1px 1px 0px #282828, 1px -1px 0px #282828, -1px -1px 0px #282828, 1px -1px 0px #282828, -1px 1px 0px #282828, -1px -1px 0px #282828;
    }
    img {
      margin: 0 auto;
      .px2rem(height, 96rem);
      .px2rem(width, 96rem);
      position: absolute;
      left: 1.7rem;
      z-index: 1;
      bottom: 3rem;
    }
    i {
      display: inline-block;
      .px2rem(width, 186rem);
      .px2rem(height, 97rem);
      background: url("imgs/prize.png") 0 0 no-repeat;
      background-size: 100% 100%;
      position: relative;
      bottom: -3rem;
    }
    &:nth-child(2) {
      img {
        .px2rem(height, 91rem);
        .px2rem(width, 165rem);
        left: 0.7rem;
        bottom: 2.6rem;
      }
      i {
        bottom: -3.1rem;
      }
    }
    &:nth-child(3) {
      img {
        .px2rem(height, 78rem);
        .px2rem(width, 123rem);
        left: 1.4rem;
        bottom: 2.8rem;
      }
    }
    &:nth-child(n+4) {
      p {
        margin-top: 0.5rem;
      }
      i {
        bottom: -2.8rem;
      }
    }
    &:nth-child(4) {
      img {
        .px2rem(height, 79rem);
        .px2rem(width, 128rem);
        left: 1.2rem;
        bottom: 3rem;
      }
    }
    &:nth-child(n+7) {
      i {
        bottom: -3rem;
      }
      img {
        bottom: 2.8rem;
      }
    }
    &:nth-child(8) {
      p {
        position: relative;
        z-index: 2;
      }
      img {
        .px2rem(height, 169rem);
        .px2rem(width, 80rem);
        left: 2.1rem;
        bottom: 2.3rem;
      }
      i {
        bottom: -3.3rem;
      }
    }
    &:nth-child(9) {
      img {
        .px2rem(height, 112rem);
        .px2rem(width, 107rem);
        bottom: 2.7rem;
        left: 1.6rem;
      }
    }
  }
  .ferrule {
    background: @bgColor;
    span {
      display: inline-block;
      .px2rem(height, 118rem);
      .px2rem(width, 114rem);
      background: url("imgs/word.png") 0 0 no-repeat;
      background-size: 100% 100%;
      margin-top: 2rem;
    }
    #circle {
      .px2rem(height, 246rem);
      .px2rem(width, 246rem);
      position: absolute;
      z-index: 4;
      top: 0rem;
      left: -0.5rem;
      transition: transform .2s ease-in;
      transform: translate(unit(round(0/@baseFontSize, 4), rem), unit(round(0/@baseFontSize, 4), rem));
    }
  }
}

@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .macp {
    font-size: 14/32rem !important;
  }
  .bigp {
    font-size: 14/32rem !important;
  }
}

.reward-rules {
  .reward-box {
    width: 90%;
    background: #3a416f;
    border-radius: 15/32rem;
    margin: 0 auto;
    margin-top: 44/32rem;
    margin-bottom: 1rem;
    padding: 15/32rem;
    h4 {
      color: #f2ac00;
      font-size: 1rem;
    }
    p {
      font-size: 0.6rem;
      position: relative;
      padding-left: 40/32rem;
      color: #fff !important;
      &:after {
        content: attr(data-list);
        display: inline-block;
        .px2rem(height, 26rem);
        .px2rem(line-height, 26rem);
        .px2rem(width, 26rem);
        text-align: center;
        color: #3a416f;
        background: #f2ac00;
        font-size: 14/32rem;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        left: 0;
        .px2rem(top, 6rem);
      }
    }
    table {
      font-size: 0.7rem;
      font-weight: 400;
      width: 90%;
      border: 1px solid #4b57a4;
      margin: 15/32rem auto;
      border-spacing: 0;
      color: #fff !important;
      tr {
        .px2rem(height, 50rem);
        .px2rem(line-height, 50rem);
      }
      th {
        background: #5461b0;
        border: 1px solid #4b57a4;
        color: #fff !important;
      }
      td {
        border: 1px solid #4b57a4;
        color: #fff !important;
      }
    }
  }
  p {
    font-size: 0.8rem;
    color: #fff !important;
  }
}

.grand-prix {
  .grand-box {
    h4 {
      color: @titleColor;
      font-size: 2.5rem;
      text-align: center;
      position: relative;
      font-weight: 900;
      text-shadow: 0px 1px 0px #e23a2b, 0px -1px 0px #e23a2b, 1px 0px 0px #e23a2b, -1px 0px 0px #e23a2b, 1px 1px 0px #e23a2b, 1px -1px 0px #e23a2b, -1px -1px 0px #e23a2b, 1px -1px 0px #e23a2b, -1px 1px 0px #e23a2b, -1px -1px 0px #e23a2b;
      -webkit-text-shadow: 0px 1px 0px #e23a2b, 0px -1px 0px #e23a2b, 1px 0px 0px #e23a2b, -1px 0px 0px #e23a2b, 1px 1px 0px #e23a2b, 1px -1px 0px #e23a2b, -1px -1px 0px #e23a2b, 1px -1px 0px #e23a2b, -1px 1px 0px #e23a2b, -1px -1px 0px #e23a2b;
    }
    img {
      .px2rem(width, 704rem);
      .px2rem(height, 179rem);
      margin: 0 auto;
      margin-top: -3.6rem;
    }
    .magic-wand {
      margin: 0 auto;
      width: 94%;
      background: url("imgs/magic.png") 0 0 no-repeat;
      background-size: cover;
      height: 0.5rem;
    }
    .grand-title {
      width: 90%;
      .px2rem(height, 60rem);
      .px2rem(line-height, 60rem);
      background: #ac2e32;
      color: #ffe673;
      margin: 0 auto;
      margin-top: -6/32rem;
      span {
        float: left;
        width: 33.33%;
      }
    }
    .grand-content {
      width: 90%;
      .px2rem(height, 300rem);
      .px2rem(line-height, 300rem);
      overflow: hidden;
      margin: 0 auto;
      position: relative;
      .grand-bg {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        li {
          width: 100%;
          .px2rem(height, 50rem);
          .px2rem(line-height, 50rem);
          background: #ac2e32;
          &:nth-child(2n+1) {
            background: #c94549;
          }
        }
      }
      ul {
        position: relative;
        li {
          width: 100%;
          .px2rem(height, 50rem);
          .px2rem(line-height, 50rem);
          color: #fff !important;
          span {
            text-align: center;
            display: inline-block;
            width: 33.33%;
            font-size: 0.8rem;
            font-weight: 300;
          }
        }
      }
    }
  }
  p {
    text-align: center;
    font-size: 0.8rem;
    margin: 0.5rem 0;
    color: #fff !important;
  }
}

.product {
  h4 {
    color: @titleColor;
    font-size: 2.5rem;
    text-align: center;
    position: relative;
    font-weight: 900;
    text-shadow: 0px 1px 0px #e23a2b, 0px -1px 0px #e23a2b, 1px 0px 0px #e23a2b, -1px 0px 0px #e23a2b, 1px 1px 0px #e23a2b, 1px -1px 0px #e23a2b, -1px -1px 0px #e23a2b, 1px -1px 0px #e23a2b, -1px 1px 0px #e23a2b, -1px -1px 0px #e23a2b;
    -webkit-text-shadow: 0px 1px 0px #e23a2b, 0px -1px 0px #e23a2b, 1px 0px 0px #e23a2b, -1px 0px 0px #e23a2b, 1px 1px 0px #e23a2b, 1px -1px 0px #e23a2b, -1px -1px 0px #e23a2b, 1px -1px 0px #e23a2b, -1px 1px 0px #e23a2b, -1px -1px 0px #e23a2b;
  }
  img {
    .px2rem(width, 704rem);
    .px2rem(height, 179rem);
    margin: 0 auto;
    margin-top: -3.6rem;
  }
  .product-box {
    margin: 0 auto;
    width: 90%;
    background: #e22e2d;
    border-radius: 15/32rem;
    padding: 1rem 0.7rem;
    margin-bottom: 0.5rem;
    position: relative;
    z-index: 1;
    > div {
      width: 100%;
      .px2rem(height, 230rem);
      border: 1px solid #a52226;
      border-radius: 15/32rem;
      margin-bottom: 20/32rem;
      background: #f9e9c7;
      overflow: hidden;
      position: relative;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .pro-left {
    height: 200%;
    width: 45%;
    background: #f7ce78;
    border-radius: 0 50% 50% 0;
    -webkit-border-radius: 0 50% 50% 0;
    position: absolute;
    top: -50%;
    left: 0;
  }
  .pro-info {
    width: 45%;
    height: 100%;
    position: relative;
    z-index: 1;
    color: #000;
    text-align: center;
    float: left;
    h3 {
      color: #ac2e32;
      font-size: 1.5rem;
      margin-top: 0.5rem;
    }
    .first {
      margin-bottom: 1rem;
    }
    p {
      color: #e72726;
      font-size: 0.7rem;
      text-shadow: 1px 1px 0px #ffe247, -1px 1px 0px #ffe247, 1px 1px 0px #ffe247, 1px 1px 0px #ffe247;
    }
  }
  .pro-right {
    overflow: hidden;
    width: 55%;
    height: 100%;
    text-align: center;
    position: relative;
    p {
      color: #272727;
      font-size: 1rem;
      margin: 0.3rem 0 0 0.5rem;
      text-align: left;
    }
    span {
      display: inline-block;
      margin-top: -0.5rem;
      font-size: 2.2rem;
      color: #ac2e32;
      font-weight: 900;
      &:nth-child(2n+1) {
        font-size: 1.2rem;
      }
    }
    input {
      margin: 0 auto;
      display: block;
      background: #27cda2;
      .px2rem(width, 232rem);
      .px2rem(height, 72rem);
      border-radius: 15/32rem;
      box-shadow: 0 -0.15rem 0 #008764;
      color: #fff;
      font-size: 1rem;
      -webkit-text-shadow: 1px 1px 0px #057e5f, -1px 1px 0px #057e5f, 1px 1px 0px #057e5f, 1px 1px 0px #057e5f;
      text-shadow: 1px 1px 0px #057e5f, -1px 1px 0px #057e5f, 1px 1px 0px #057e5f, 1px 1px 0px #057e5f;
      &:active {
        transform: scale(0.97, 0.93);
        -webkit-transform: scale(0.97, 0.93);
      }
    }
    i {
      position: absolute;
      .px2rem(width, 40rem);
      .px2rem(height, 40rem);
      background: url("imgs/stars.png") 0 0 no-repeat;
      background-size: cover;
      top: 0.5rem;
      left: 9rem;
      &.smallstar {
        .px2rem(width, 37rem);
        .px2rem(height, 37rem);
        background: url("imgs/stars.png") 0 -1.4rem no-repeat;
        background-size: cover;
        top: 5rem;
        left: 0;
      }
    }
  }
  .margin-bot {
    width: 100%;
    height: 4.5rem;
  }
}

.app-tips {
  margin-bottom: 4.5rem;
  p {
    color: #3a416f;
    font-size: 0.8rem;
    text-align: center;
  }
}

footer {
  width: 100%;
  .px2rem(height, 118rem);
  background: #c1821c;
  padding: 0.3rem;
  position: fixed;
  bottom: 0;
  z-index: 10;
  > div {
    width: 100%;
    height: 100%;
    background: #a42b30;
    padding: 0.3rem;
    text-align: center;
    a {
      display: inline-block;
      width: 30%;
      height: 100%;
      line-height: 2.6rem;
      background: #eee2a8;
      border-radius: 15/32rem;
      color: #a42b30;
      font-size: 1.2rem;
      font-weight: 600;
      &:active {
        transform: scale(0.97, 0.93);
        -webkit-transform: scale(0.97, 0.93);
        box-shadow: inset 0 0 20px #fff;
      }
      &:nth-child(2) {
        background: #27cda2;
        width: 35%;
        margin: 0 0.1rem;
        color: #fff;
        position: relative;
        &:after, &:before {
          content: '';
          display: inline-block;
          .px2rem(width, 30rem);
          .px2rem(height, 30rem);
          position: absolute;
          background: url("imgs/stars.png") 0 -2.2rem no-repeat;
          background-size: cover;
          top: 1.5rem;
          left: 0.5rem;
        }
        &:after {
          background: url("imgs/stars.png") 0 -3.2rem no-repeat;
          background-size: cover;
          top: 0.2rem;
          left: 6.8rem;
        }
      }
    }
  }
}

//弹框
.close {
  .px2rem(width, 40rem);
  .px2rem(height, 40rem);
  float: right;
  transition: transform .05s;
  -webkit-transition: transform .05s;
  &:after {
    content: " ";
    display: block;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: linear-gradient(54deg, transparent 42%, @popColor 47%, @popColor 54%, transparent 58%), linear-gradient(-54deg, transparent 42%, @popColor 47%, @popColor 54%, transparent 58%)
  }
}

.pop {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  //background: rgba(0, 0, 0, 0.7);
  > div {
    background: @popbgColor;
    width: 90%;
    position: absolute;
    top: 40%;
    left: 5%;
    padding: 10/32rem;
    border-radius: 15/32rem;
    > div {
      background: @popconColor;
      width: 100%;
      height: 100%;
      color: @popColor;
      text-align: left;
      border-radius: 15/32rem;
      padding: 14/32rem;
      position: relative;
      .threestars {
        position: absolute;
        .px2rem(height, 85rem);
        .px2rem(width, 220rem);
        background: url("imgs/stars1.png") 0 0 no-repeat;
        background-size: cover;
        top: -1.3rem;
        left: -1rem;
      }
    }
  }
}

.attention {
  display: none;
  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  > div {
    width: 90%;
    height: 70%;
    top: 15%;
    left: 5%;
  }
  .rule-text {
    overflow: auto;
    color: @popColor;
    text-align: left;
    font-size: 0.6rem;
    table td {
      padding: 2px 5px;
    }
    table td:nth-child(1) p {
      padding: 2px 5px 2px 1em;
      background: #27cda2;
      color: #00795a;
      border-radius: 5px;
    }
  }
  ul > * {
    display: inline-block;
    padding-left: 26/32rem;
    margin: 6/32rem 0;
    width: 100%;
    position: relative;
    &:after {
      content: attr(data-list);
      display: inline-block;
      .px2rem(height, 24rem);
      .px2rem(line-height, 26rem);
      .px2rem(width, 24rem);
      background: #ac2e32;
      font-size: 12/32rem;
      border-radius: 50%;
      color: #fff;
      text-align: center;
      position: absolute;
      left: 0;
      .px2rem(top, 6rem);
    }
  }
}

.haveprize {
  display: none;
  > div {
    width: 80%;
    top: 40%;
    left: 10%;
    .center {
      text-align: center;
      h6 {
        margin: 1.5rem 0 0.5rem 0;
        font-size: 1rem;
        font-weight: 900;
      }
      p {
        color: #ffd200;
        font-size: 1.1rem;
        -webkit-text-shadow: 0px 1px 1px #ac2e32, 0px 1px 1px #ac2e32, 0px 1px 1px #ac2e32, 0px 1px 1px #ac2e32;
        text-shadow: 0px 1px 1px #ac2e32, 0px 1px 1px #ac2e32, 0px 1px 1px #ac2e32, 0px 1px 1px #ac2e32;
      }
      a {
        display: inline-block;
        margin: 1rem 0;
        width: 35%;
        .px2rem(height, 70rem);
        .px2rem(line-height, 70rem);
        background: #27cda2;
        border: 1px solid #008b67;
        color: #fff;
        font-size: 1rem;
        -webkit-text-shadow: 0px 1px 1px #057e5f, 0px 1px 1px #057e5f, 0px 1px 1px #057e5f, 0px 1px 1px #057e5f;
        text-shadow: 0px 1px 1px #057e5f, 0px 1px 1px #057e5f, 0px 1px 1px #057e5f, 0px 1px 1px #057e5f;
        border-radius: 15/32rem;
      }
      .put-pocket {
        margin-right: 2rem;
      }
    }
  }
  #closegame {
    .px2rem(width, 40rem);
    .px2rem(height, 40rem);
    float: right;
    transition: transform .05s;
    -webkit-transition: transform .05s;
    &:after {
      content: " ";
      display: block;
      width: 90%;
      height: 90%;
      border-radius: 50%;
      background: linear-gradient(54deg, transparent 42%, @popColor 47%, @popColor 54%, transparent 58%), linear-gradient(-54deg, transparent 42%, @popColor 47%, @popColor 54%, transparent 58%)
    }
  }
}

.noChance {
  display: none;
  > div {
    width: 80%;
    left: 10%;
    > div {
      text-align: center !important;
    }
  }
  p {
    font-weight: 900;
    margin: 1.5rem 0;
    font-size: 1rem;
  }
  a {
    display: inline-block;
    .px2rem(height, 72rem);
    .px2rem(line-height, 72rem);
    width: 60%;
    background: #27cda2;
    border: 1px solid #008b67;
    color: #fff;
    border-radius: 15/32rem;
    -webkit-text-shadow: 1px 1px 0px #057e5f, -1px 1px 0px #057e5f, 1px 1px 0px #057e5f, 1px 1px 0px #057e5f;
    text-shadow: 1px 1px 0px #057e5f, -1px 1px 0px #057e5f, 1px 1px 0px #057e5f, 1px 1px 0px #057e5f;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 800;
  }
}

.winning-record {
  display: none;
  > div {
    top: 30%;
    > div {
      padding: 0;
    }
  }
  .close {
    margin: 0.3rem;
  }
  p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    color: #ffd200;
    -webkit-text-shadow: 1px 1px 0px #ac2e32, -1px 1px 0px #ac2e32, 1px 1px 0px #ac2e32, 1px 1px 0px #ac2e32;
    text-shadow: 1px 1px 0px #ac2e32, -1px 1px 0px #ac2e32, 1px 1px 0px #ac2e32, 1px 1px 0px #ac2e32;
    padding: 0.7rem 0;
    margin-left: 2rem;
  }
  .winning-con {
    width: 100%;
    .px2rem(height, 312rem);
    background: #f9e9c5;
    overflow: hidden;
    ul {
      li {
        color: #5e357f;
        .px2rem(height, 52rem);
        .px2rem(line-height, 52rem);
        font-size: 0.6rem;
        color: #c25e51;
        font-size: 0.7rem;
        padding-left: 1rem;
        &:nth-child(2n+1) {
          background: #fee3a7;
        }
        span {
          display: inline-block;
          text-align: center;
        }
        span:first-child {
          width: 30%;
        }
        span:nth-child(2) {
          text-align: left;
          width: 22%;
        }
      }
    }
  }
  .page {
    margin: 0.5rem 0;
    text-align: center;
    font-size: 1rem;
    .pageUp {
      margin-right: 2rem;
    }
  }
}

.noLogin {
  display: none;
  > div {
    width: 80%;
    top: 40%;
    left: 10%;
    > div {
      text-align: center;
      h6 {
        margin: 1.5rem 0 0.5rem 0;
        font-size: 1rem;
        font-weight: 900;
      }
      p {
        color: #ac2e32;
        font-size: 1.1rem;
        margin: 1rem 0;
        margin-left: 1rem;
      }
      a {
        display: inline-block;
        margin: 1rem 0;
        width: 45%;
        .px2rem(height, 70rem);
        .px2rem(line-height, 70rem);
        background: #27cda2;
        border: 1px solid #008b67;
        color: #fff;
        font-size: 1rem;
        -webkit-text-shadow: 0px 1px 1px #057e5f, 0px 1px 1px #057e5f, 0px 1px 1px #057e5f, 0px 1px 1px #057e5f;
        text-shadow: 0px 1px 1px #057e5f, 0px 1px 1px #057e5f, 0px 1px 1px #057e5f, 0px 1px 1px #057e5f;
        border-radius: 15/32rem;
      }
      .put-pocket {
        margin-right: 2rem;
      }
    }
  }
}

@mainColor: #cacaca;
.mui-dialog, .registry {
  z-index: 10000;
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  > div {
    width: 70%;
    top: 25%;
    left: 15%;
    margin: 0 auto;
    > div {
      width: 100%;
      background: @popconColor;
      .px2rem(border-radius, 12rem);
      overflow: hidden;
      margin: 0 auto;
      padding: 0;
      .close {
        margin: 0.5rem;
      }
      .mui-login-title, .mui-register-title {
        color: #ac2e32;
        font-size: 1.5rem;
        padding: 0.7rem 0;
        text-align: center;
      }
      .mui-login-msg, .mui-register-msg {
        .px2rem(height, 80rem);
        .px2rem(line-height, 80rem);
        text-align: center;
        font-size: 1rem;
        background: #fee3a7;
        color: #ac2e32;
        margin-bottom: 0.5rem;
      }
      li {
        position: relative;
        padding: 5px 0;
        height: 3rem;
        width: 80%;
        margin: 0 auto;
        input {
          margin: 0 auto;
          display: block;
          width: 100%;
          .px2rem(height, 80rem);
          .px2rem(line-height, 80rem);
          border: 1px solid @mainColor;
          background: #fff;
          .px2rem(padding-left, 18rem);
          position: relative;
          font-size: 0.7rem;
          margin-bottom: 0.5rem;
          -webkit-box-shadow: 0 0 0px 1000px white inset;
          box-shadow: 0 0 0px 1000px white inset;
        }
        em, .tel-validata {
          .px2rem(width, 210rem);
          .px2rem(height, 64rem);
          position: absolute;
          .px2rem(top, 16rem);
          .px2rem(right, 6rem);
          border-radius: 3/32rem;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .c_confirm {
          text-align: center;
          //margin-left: 10%;
          width: 80%;
          .px2rem(height, 80rem);
          .px2rem(line-height, 80rem);
          background: #27cda2;
          color: #fff;
          border-radius: 80/32rem;
          font-size: 1rem;
          margin-top: 0.5rem;
          border: 0;
        }
        &:last-of-type {
          text-align: center;
          height: 2rem;
          margin-bottom: 0.3rem;
          a {
            color: #535353;
            font-size: 0.8rem;
            padding: 0.7rem 0;
          }
          .register {
            color: #27cda2;
            margin-left: 0.5rem;
          }
          .login {
            color: #27cda2;
          }
        }
        .mui-m-code {
          .px2rem(width, 210rem);
          .px2rem(height, 64rem);
          .px2rem(line-height, 64rem);
          position: absolute;
          .px2rem(top, 18rem);
          .px2rem(right, 6rem);
          border-radius: 3/32rem;
          overflow: hidden;
          background: #cacaca;
          color: #fff;
          font-size: 0.8rem;
          box-shadow: none;
          -webkit-box-shadow: none;
          font-weight: 100;
          &:active {
            transform: scale(0.97, 0.93);
            -webkit-transform: scale(0.97, 0.93);
            box-shadow: inset 0 0 20px #fff;
            -webkit-box-shadow: inset 0 0 20px #fff;
          }
        }
      }
      .mui-close {
        position: absolute;
        width: 3rem;
        height: 3rem;
        top: 0.2rem;
        right: 0;
        cursor: pointer;
        &:after {
          content: " ";
          display: block;
          position: absolute;
          right: 1px;
          width: 30%;
          height: 30%;
          margin: 35%;
          border-radius: 50%;
          background: linear-gradient(54deg, transparent 42%, @popColor 47%, @popColor 54%, transparent 58%), linear-gradient(-54deg, transparent 42%, @popColor 47%, @popColor 54%, transparent 58%);
        }
      }
    }
  }
  .mui-dialog-inner {
    display: inline-block;
    vertical-align: middle;
    color: #000;
  }
  .mui-dialog-login-custom, .mui-dialog-register-custom {
    position: absolute;
    width: 70%;
    top: 25%;
    left: 15%;
    margin: 0 auto;
    padding: 10/32rem;
    border-radius: 15/32rem;
    background: @popbgColor !important;
    text-align: center !important;
  }
}

.hide {
  display: none;
}

.registry {
  display: none;
}

.noprizetip {
  margin-top: 2rem;
  font-size: 1rem !important;
}

@-webkit-keyframes show {
  0% {
    display: block;
    -webkit-transform: scale(0.5, 0.5)
  }
  60% {
    -webkit-transform: scale(1.05, 1.05)
  }
  100% {
    -webkit-transform: scale(1, 1)
  }
}

@keyframes show {
  0% {
    display: block;
    transform: scale(0.5, 0.5)
  }
  60% {
    transform: scale(1.05, 1.05)
  }
  100% {
    transform: scale(1, 1)
  }
}

.show {
  display: inline-block !important;
  animation: show .3s forwards;
  -moz-animation: show .3s forwards;
  -webkit-animation: show .3s forwards;
  -o-animation: show .3s forwards;
}

.tip {
  display: none;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  z-index: 12;
}

.pagetip {
  display: none;
  .px2rem(height, 80rem);
  .px2rem(line-height, 80rem);
  padding: 0 0.7rem;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  position: fixed;
  top: 50%;
  left: 45%;
  .px2rem(margin-left, -80rem);
  .px2rem(margin-top, -80rem);
  border-radius: 16/64rem;
  text-align: center;
  font-size: 0.6rem;
  z-index: 12;
}

.isdow-content{
  z-index: 99999;
  background: rgba(0,0,0,0.65);
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: .2rem;
  padding-left: .44rem;
  padding-right: 0;
  overflow: hidden;
  .mt-downclient {
    position: relative;
    padding: 0 0 0 1.1rem;
  }
  .mt-downclient-title {
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    position: absolute;
    top: 3px;
    left: 18%;
  }
  .mt-downclient-img {
    width: 43px;
    height: 43px;
    position: absolute;
    left: 2%;
    top: 5px;
  }
  .mt-download-btn{
    position: absolute;
    right: 10%;
    top: 10px;
    widht: 60%;
    padding: 0 20px;
    color: #fff;
    font-size: 16px;
    border: #f9ac3a;
    height: 35px;
    line-height: 34px;
    background-color: #f9ac3a;
    border-radius: 0;
  }
  .ivc_po {
    position: absolute;
    top: 0;
    right: 3%;
  }
}