@import "../tmp/merge/dialog.index.css";

*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background: @bgColor !important;
  font-family: "MicroSoft YaHei" !important;
}

#J_wrapBody {
  background: @bgColor !important;
}

.bodyhidden {
  overflow: hidden !important;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: @bgColor;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

input, textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}

img {
  vertical-align: bottom;
  display: block;
}

.f_left {
  float: left;
}

.f_right {
  float: right;
}

.clearfix::after, .clearfix::before {
  content: ".";
  line-height: 0;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.center {
  margin: 0 auto;
  text-align: center;
}

@bgColor: #ffcda4;
@fontColor: #e2863b;
@ruleColor: #ff6a7f;
@introColor: #3d9fe6;
@titleColor: #ff3c58;
@popbgColor: #ff4da5;
@popconColor: #fff0e4;
@popColor: #fe8a2d;
@popBtnColor:#2497e9;
@baseFontSize: 32;
.px2rem(@name, @px) {
    @{name}: unit(round(@px/@baseFontSize, 4), rem);
}
header {
  .px2rem(height, 1214rem);
  width: 100%;
  background: url("imgsMay/header.png") 0 0 no-repeat;
  background-size: 100% 100%;
  position: relative;
  .container {
    width: 100%;
    height: 100%;
  }
  #activeCar {
    .px2rem(height, 220rem);
    .px2rem(width, 188rem);
    background: url("imgsMay/carRight.png") 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 9rem;
    left: 13.5rem;
    z-index:9;
  }
  .staticCar {
    background: url("imgsMay/carLeft.png") 0 0 no-repeat;
    background-size: 100% 100%;
    .px2rem(width, 177rem);
    .px2rem(height, 220rem);
    position: absolute;
    bottom: -3.5rem;
    left: 1rem;
  }
  .titles {
    p {
      display: inline-block;
      .px2rem(height, 45rem);
      .px2rem(line-height, 45rem);
      padding: 0 0.5rem;
      background: @introColor;
      color: #fff;
      font-size: 0.8rem;
      border-radius: 0.3rem;
      position: absolute;
      z-index: 2;
      &:after {
        content: '';
        display: inline-block;
        border: transparent;
        position: absolute;
        top: 10%;
        left: -10%;
        width: 0;
        height: 0;
        border-width: 0 1rem 1rem;
        border-style: solid;
        border-color: transparent transparent @introColor;
        z-index: -1;
      }
      &:nth-child(1) {
        top: 15.5rem;
        left: 7rem;
        &:after {
          left: -6%;
        }
      }
      &:nth-child(2) {
        top: 20rem;
        left: 4rem;
        &:after {
          left: -7%;
        }
      }
      &:nth-child(3) {
        top: 19rem;
        left: 15rem;
        &:after {
          left: -6%;
        }
      }
      &:nth-child(4) {
        bottom: 11rem;
        left: 18rem;
        &:after {
          left: -8%;
        }
      }
      &:nth-child(5) {
        bottom: 9.3rem;
        left: 12rem;
        &:after {
          left: -8%;
        }
      }
      &:nth-child(6) {
        bottom: 10rem;
        left: 2rem;
        &:after {
          left: -7%;
        }
      }
      &:nth-child(7) {
        bottom: 5.5rem;
        left: 7.5rem;
        &:after {
          left: -7%;
        }
      }
      &:nth-child(8) {
        bottom: 3rem;
        left: 14rem;
        &:after {
          left: -5%;
        }
      }
    }
  }
  .shape {
    .px2rem(height, 54rem);
    .px2rem(width, 90rem);
    background: url("imgsMay/shape.png") 0 0 no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: -3rem;
    right: 1rem;
  }
  .startGame {
    display: inline-block;
    width: 50%;
    height: 3rem;
    line-height: 3rem;
    background: #ff4da5;
    border-radius: 1.5rem;
    text-align: center;
    margin-left: 28%;
    margin-top: -1.8rem;
    border: 1px solid #fff;
    -webkit-box-shadow: 0 0 3px 3px #fff9cc;
    box-shadow: 0 0 3px 3px #fff9cc;
    .start {
      width: 100%;
      height: 3rem;
      line-height: 3rem;
      border-radius: 1.5rem;
      color: #fff;
      font-size: 1.5rem;
      background: transparent;
      -webkit-box-shadow: 0 0 0px 2px #f02777 inset;
      box-shadow: 0 0 0px 2px #f02777 inset;
    }
    &:active {
      transform: scale(0.97, 0.93);
      -webkit-transform: scale(0.97, 0.93);
      border: 0;
      .start {
        box-shadow: inset 0 0 20px #fff;
        -webkit-box-shadow: inset 0 0 20px #fff;
      }
    }
  }
  .chanceTip {
    width: 100%;
    font-size: 1rem;
    color: #ff3c58;
    padding-left: 35%;
    margin-top: 1rem;
  }
}
.transform{
  transition: transform .3s ease-in;
  transform: translate(unit(round(0/@baseFontSize, 4), rem), unit(round(0/@baseFontSize, 4), rem));
}
.mainTitle {
  width: 100%;
  position: relative;
  margin:1rem 0;
  h3 {
    color: @titleColor;
    font-size: 1.5rem;
    position: relative;
    font-weight: 900;
    &:before, &:after {
      content: '';
      display: inline-block;
      width: 0.3rem;
      height: 0.3rem;
      border-radius: 50%;
      background: @titleColor;
      position: absolute;
      top: 1.2rem;
      left: 8rem;
    }
    &:after {
      position: absolute;
      top: 1.2rem;
      left: 15.2rem;
    }
  }
  &:before, &:after {
    content: '';
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background: @titleColor;
    position: absolute;
    top: 0.6rem;
    left: 7.3rem;
  }
  &:after {
    position: absolute;
    top: 0.6rem;
    left: 15.6rem;
  }
}
.gameRule {
  width: 100%;
  background: @bgColor;
  margin-top: 4rem;
  overflow: hidden;
  .mainTitle{
    margin:0;
  }
  .gameContent {
    background: #feeef0;
    box-shadow: 0px 3px 3px #d4aa88;
    -webkit-box-shadow: 0px 3px 3px #d4aa88;
    width: 90%;
    margin: 0 auto;
    margin-top: -1rem;
    border-radius: 0.5rem;
    padding: 1.5rem 1rem 1rem 1rem;
    p {
      font-size: 0.8rem;
      position: relative;
      padding-left: 40/32rem;
      color: @ruleColor;
      &:after {
        content: attr(data-list);
        display: inline-block;
        .px2rem(height, 26rem);
        .px2rem(line-height, 26rem);
        .px2rem(width, 26rem);
        text-align: center;
        color: #fff;
        background: @titleColor;
        font-size: 14/32rem;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        left: 0;
        .px2rem(top, 6rem);
      }
    }
    table {
      font-size: 0.7rem;
      font-weight: 400;
      width: 90%;
      border: 1px solid #f7df90;
      margin: 15/32rem auto;
      border-spacing: 0;
      color: #fff !important;
      tr {
        .px2rem(height, 50rem);
        .px2rem(line-height, 50rem);
      }
      th {
        background: #ffeba8;
        border: 1px solid #f7df90;
        color: @fontColor;
      }
      td {
        border: 1px solid #f7df90;
        color: @fontColor;
      }
    }
  }
}
.winning {
  width: 100%;
  .winContent {
    width: 90%;
    margin:0 auto;
    position: relative;
    .px2rem(height,387rem);
    overflow: hidden;
    .winTitle{
      width: 100%;
      background: #ffe4ce;
      z-index:3;
      li{
        float: left;
        width: 33.33%;
        text-align: center;
        .px2rem(height,54rem);
        .px2rem(line-height,54rem);
        color: @titleColor;
      }
    }
    .winBg{
      width: 100%;
      position: absolute;
      .px2rem(top,54rem);
      left:0;
      z-index:-1;
      li{
        .px2rem(height,54rem);
        .px2rem(line-height,54rem);
        &:nth-child(2n+1){
          background: #eec3a0;
        }
        &:nth-child(2n){
          background: #ffe4ce;
        }
      }
    }
    .winData{
      .px2rem(height,324rem);
      width: 100%;
      overflow: hidden;
    }
    ul{
      width: 100%;
      position: relative;
      li{
        .px2rem(height,54rem);
        .px2rem(line-height,54rem);
        width: 100%;
        span{
          display: inline-block;
          text-align: center;
          color: @fontColor;
          font-size: 0.8rem;
          width: 33.33%;
        }
      }
    }
  }
  .amountData{
    width: 100%;
    text-align: center;
    color: @titleColor;
    margin:0.5rem 0 0 0;
  }
}
.carLeft{
  background-image: url("imgsMay/carLeft.png") !important;
}
.carRight{
  background-image: url("imgsMay/carRight.png") !important;
}
.product{
  .proContent{
    width: 100%;
    padding:0.3rem 5%;
    >div{
      width: 44%;
      background: #ffe6d1;
      border-radius: 0.5rem;
      box-shadow: 0px 3px 3px #d4aa88;
      -webkit-box-shadow: 0px 3px 3px #d4aa88;
      >div{
        width: 100%;
        height: 100%;
        border-radius: 0.3rem;
        box-shadow: 0px -1px 7px 3px #ffd8b9 inset;
        -webkit-box-shadow: 0px -1px 7px 3px #ffd8b9 inset;
        >div{
          width: 100%;
          height: 100%;
          padding:0.5rem;
          border-radius: 0.3rem;
          box-shadow: 0px 3px 3px #fff7f0 inset;
          -webkit-box-shadow: 0px 3px 3px #fff7f0 inset;
          h5{
            color: #ef9a56;
            font-weight: 900;
            font-size: 1.2rem;
          }
          p{
            color: #ef9a56;
            font-size: 0.8rem;
            text-decoration: underline;
            &:last-of-type{
              text-decoration: none;
            }
          }
          .rate{
            width: 100%;
            span{
              color: @titleColor;
              font-size: 2.2rem;
              font-weight:900;
              &:nth-child(2n){
                font-size: 1rem;
              }
            }
          }
          .proBtn{
            width: 80%;
            height: 2rem;
            background: #ffde58;
            margin-top: 0.4rem;
            border-radius: 0.5rem;
            box-shadow: 0px 2px 3px #ae9d8e;
            -webkit-box-shadow: 0px 2px 3px #ae9d8e;
            >div{
              width: 100%;
              height: 100%;
              border-radius: 0.5rem;
              box-shadow: 0px 7px 7px 3px #fee76c inset;
              -webkit-box-shadow: 0px 7px 7px 3px #fee76c inset;
              input{
                width: 100%;
                height: 100%;
                border-radius: 0.5rem;
                background: transparent;
                color: @titleColor;
                font-size: 1rem;
                font-weight:900;
                box-shadow: 0px 3px 3px #f9d04b inset,0px 1px 1px #f9d04b inset,0px -5px 5px #f3bc25 inset,0px 1px 1px #f9d04b inset;
                -webkit-box-shadow: 0px 3px 3px #f9d04b inset,0px 1px 1px #f9d04b inset,0px -5px 5px #f3bc25 inset,0px 1px 1px #f9d04b inset;
              }
            }
            &:active{
              transform: scale(0.97, 0.93);
              -webkit-transform: scale(0.97, 0.93);
            }
          }
        }
      }

    }
  }
}
.marginBot{
  margin-bottom: 3.5rem;
}
.app-tips{
  width: 100%;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
  font-weight: 300;
  margin-bottom: 3.5rem;
}
footer{
  width: 100%;
  height: 3rem;
  text-align: center;
  border: 3px solid #ffde58;
  overflow: hidden;
  position: fixed;
  left:0;
  bottom:0;
  z-index:10;
  border-radius: 0 !important;
  input{
    float: left;
    width: 50%;
    height: 100%;
    background: #ff70a1;
    color: #fff;
    font-weight: 900;
    font-size: 1.5rem;
    border-right: 3px solid #ffde58;
    border-radius: 0 !important;
    &:last-of-type{
      border-right:none;
    }
  }
}

//弹框
.close {
  .px2rem(width, 40rem);
  .px2rem(height, 40rem);
  float: right;
  transition: transform .05s;
  -webkit-transition: transform .05s;
  &:after {
    content: " ";
    display: block;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: linear-gradient(54deg, transparent 42%, @popbgColor 47%, @popbgColor 54%, transparent 58%), linear-gradient(-54deg, transparent 42%, @popbgColor 47%, @popbgColor 54%, transparent 58%)
  }
}
.pop {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  background: rgba(0, 0, 0, 0.7);
  > div {
    background: @popbgColor;
    width: 90%;
    position: absolute;
    top: 40%;
    left: 5%;
    padding: 10/32rem;
    border-radius: 15/32rem;
    > div {
      background: @popconColor;
      width: 100%;
      height: 100%;
      color: @popColor;
      text-align: left;
      border-radius: 15/32rem;
      padding: 14/32rem;
      position: relative;
    }
  }
}
.attention {
  display: none;
  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  > div {
    width: 90%;
    height: 70%;
    top: 15%;
    left: 5%;
  }
  .rule-text {
    overflow: auto;
    color: @popColor;
    text-align: left;
    font-size: 0.6rem;
    table td {
      padding: 2px 5px;
      color: #d97729;
    }
    table td:nth-child(1) p {
      padding: 2px 5px 2px 1em;
      background: #fe7dbd;
      color: #fff;
      border-radius: 5px;
    }
  }
  ul > * {
    display: inline-block;
    padding-left: 26/32rem;
    margin: 6/32rem 0;
    width: 100%;
    position: relative;
    color: #d97729;
    &:after {
      content: attr(data-list);
      display: inline-block;
      .px2rem(height, 24rem);
      .px2rem(line-height, 26rem);
      .px2rem(width, 24rem);
      background: #fe7dbd;
      font-size: 12/32rem;
      border-radius: 50%;
      color: #fff;
      text-align: center;
      position: absolute;
      left: 0;
      top: 0.2rem;
    }
  }
}
.noChance {
  display: none;
  > div {
    width: 80%;
    left: 10%;
    > div {
      text-align: center !important;
    }
  }
  p {
    font-weight: 900;
    margin: 1.5rem 0;
    font-size: 1rem;
  }
  a {
    display: inline-block;
    .px2rem(height, 72rem);
    .px2rem(line-height, 72rem);
    width: 60%;
    background: @popBtnColor;
    color: #fff;
    border-radius: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 800;
  }
}
.haveprize {
  display: none;
  > div {
    width: 80%;
    top: 40%;
    left: 10%;
    .center {
      text-align: center;
      h6 {
        margin: 1.5rem 0 0.5rem 0;
        font-size: 1rem;
        font-weight: 400;
        color: @popColor;
      }
      p {
        color: #ff007e;
        font-size: 1.1rem;
        font-weight: 900;
      }
      a {
        display: inline-block;
        margin: 1rem 0;
        width: 35%;
        .px2rem(height, 70rem);
        .px2rem(line-height, 70rem);
        background: @popBtnColor;
        color: #fff;
        font-size: 1rem;
        border-radius: 1rem;
      }
      .put-pocket {
        margin-right: 2rem;
      }
    }
  }
  #closegame {
    .px2rem(width, 40rem);
    .px2rem(height, 40rem);
    float: right;
    transition: transform .05s;
    -webkit-transition: transform .05s;
    &:after {
      content: " ";
      display: block;
      width: 90%;
      height: 90%;
      border-radius: 50%;
      background: linear-gradient(54deg, transparent 42%, @popbgColor 47%, @popbgColor 54%, transparent 58%), linear-gradient(-54deg, transparent 42%, @popbgColor 47%, @popbgColor 54%, transparent 58%)
    }
  }
}
.winning-record {
  display: none;
  > div {
    top: 30%;
    > div {
      padding: 0;
    }
  }
  .close {
    margin: 0.3rem;
  }
  p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    color: @popbgColor;
    padding: 0.7rem 0;
    margin-left: 2rem;
  }
  .winning-con {
    width: 100%;
    .px2rem(height, 312rem);
    background: #fff0e4;
    overflow: hidden;
    ul {
      li {
        color: #5e357f;
        .px2rem(height, 52rem);
        .px2rem(line-height, 52rem);
        font-size: 0.6rem;
        color: #ff8e33;
        font-size: 0.7rem;
        &:nth-child(2n+1) {
          background: #ffdbbe;
        }
        span {
          display: inline-block;
          text-align: center;
        }
        span:first-child {
          width: 30%;
        }
        span:nth-child(2) {
          text-align: left;
          width: 22%;
        }
      }
    }
  }
  .page {
    margin: 0.5rem 0;
    text-align: center;
    font-size: 1rem;
    .pageUp {
      margin-right: 2rem;
    }
  }
}
.mui-dialog, .registry {
  z-index: 10000;
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  > div {
    width: 70%;
    top: 25%;
    left: 15%;
    margin: 0 auto;
    > div {
      width: 100%;
      background: @popconColor;
      .px2rem(border-radius, 12rem);
      overflow: hidden;
      margin: 0 auto;
      padding: 0;
      .close {
        margin: 0.5rem;
      }
      .mui-login-title, .mui-register-title {
        color: @popbgColor;
        font-size: 1.5rem;
        padding: 0.7rem 0;
        text-align: center;
      }
      .mui-login-msg, .mui-register-msg {
        .px2rem(height, 80rem);
        .px2rem(line-height, 80rem);
        text-align: center;
        font-size: 1rem;
        background: #ffdbbe;
        color: #ff8e33;
        margin-bottom: 0.5rem;
      }
      li {
        position: relative;
        padding: 5px 0;
        height: 3rem;
        width: 80%;
        margin: 0 auto;
        input {
          margin: 0 auto;
          display: block;
          width: 100%;
          .px2rem(height, 80rem);
          .px2rem(line-height, 80rem);
          border: 1px solid #cacaca;
          background: #fff;
          .px2rem(padding-left, 18rem);
          position: relative;
          font-size: 0.7rem;
          margin-bottom: 0.5rem;
          -webkit-box-shadow: 0 0 0px 1000px white inset;
          box-shadow: 0 0 0px 1000px white inset;
        }
        em, .tel-validata {
          .px2rem(width, 210rem);
          .px2rem(height, 64rem);
          position: absolute;
          .px2rem(top, 16rem);
          .px2rem(right, 6rem);
          border-radius: 3/32rem;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .c_confirm {
          text-align: center;
          width: 80%;
          .px2rem(height, 80rem);
          .px2rem(line-height, 80rem);
          background: @popBtnColor;
          color: #fff;
          border-radius: 80/32rem;
          font-size: 1rem;
          margin-top: 0.5rem;
          border: 0;
        }
        &:last-of-type {
          text-align: center;
          height: 2rem;
          margin-bottom: 0.3rem;
          a {
            color: #535353;
            font-size: 0.8rem;
            padding: 0.7rem 0;
          }
          .register {
            color: @popBtnColor;
            margin-left: 0.5rem;
          }
          .login {
            color: @popBtnColor;
          }
        }
        .mui-m-code {
          .px2rem(width, 210rem);
          .px2rem(height, 64rem);
          .px2rem(line-height, 64rem);
          position: absolute;
          .px2rem(top, 18rem);
          .px2rem(right, 6rem);
          border-radius: 3/32rem;
          overflow: hidden;
          background: #cacaca;
          color: #fff;
          font-size: 0.8rem;
          box-shadow: none;
          -webkit-box-shadow: none;
          font-weight: 100;
          &:active {
            transform: scale(0.97, 0.93);
            -webkit-transform: scale(0.97, 0.93);
            box-shadow: inset 0 0 20px #fff;
            -webkit-box-shadow: inset 0 0 20px #fff;
          }
        }
      }
      .mui-close {
        position: absolute;
        width: 3rem;
        height: 3rem;
        top: 0.2rem;
        right: 0;
        cursor: pointer;
        &:after {
          content: " ";
          display: block;
          position: absolute;
          right: 1px;
          width: 30%;
          height: 30%;
          margin: 35%;
          border-radius: 50%;
          background: linear-gradient(54deg, transparent 42%, @popbgColor 47%, @popbgColor 54%, transparent 58%), linear-gradient(-54deg, transparent 42%, @popbgColor 47%, @popbgColor 54%, transparent 58%);
        }
      }
    }
  }
  .mui-dialog-inner {
    display: inline-block;
    vertical-align: middle;
    color: #000;
  }
  .mui-dialog-login-custom, .mui-dialog-register-custom {
    position: absolute;
    width: 70%;
    top: 25%;
    left: 15%;
    margin: 0 auto;
    padding: 10/32rem;
    border-radius: 15/32rem;
    background: @popbgColor !important;
    text-align: center !important;
  }
}
@-webkit-keyframes show {
  0% {
    display: block;
    -webkit-transform: scale(0.5, 0.5)
  }
  60% {
    -webkit-transform: scale(1.05, 1.05)
  }
  100% {
    -webkit-transform: scale(1, 1)
  }
}

@keyframes show {
  0% {
    display: block;
    transform: scale(0.5, 0.5)
  }
  60% {
    transform: scale(1.05, 1.05)
  }
  100% {
    transform: scale(1, 1)
  }
}

.show {
  display: inline-block !important;
  animation: show .3s forwards;
  -moz-animation: show .3s forwards;
  -webkit-animation: show .3s forwards;
  -o-animation: show .3s forwards;
}
.hide{
  display: none !important;
}
.noprizetip {
  margin-top: 2rem;
  font-size: 1rem !important;
}
.tip {
  display: none;
  width: 100%;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  z-index: 12;
}
.pagetip {
  display: none;
  .px2rem(height, 80rem);
  .px2rem(line-height, 80rem);
  padding: 0 0.7rem;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  .px2rem(margin-left, -80rem);
  .px2rem(margin-top, -80rem);
  border-radius: 16/64rem;
  text-align: center;
  font-size: 0.6rem;
  z-index: 12;
}
.isdow-content{
  z-index: 99999;
  background: rgba(0,0,0,0.65);
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: .2rem;
  padding-left: .44rem;
  padding-right: 0;
  overflow: hidden;
  .mt-downclient {
    position: relative;
    padding: 0 0 0 1.1rem;
  }
  .mt-downclient-title {
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    position: absolute;
    top: 3px;
    left: 18%;
  }
  .mt-downclient-img {
    width: 43px;
    height: 43px;
    position: absolute;
    left: 2%;
    top: 5px;
  }
  .mt-download-btn{
    position: absolute;
    right: 10%;
    top: 10px;
    widht: 60%;
    padding: 0 20px;
    color: #fff;
    font-size: 16px;
    border: #f9ac3a;
    height: 35px;
    line-height: 34px;
    background-color: #f9ac3a;
    border-radius: 0;
  }
  .ivc_po {
    position: absolute;
    top: 0;
    right: 3%;
  }
}
