.banner-top{
  width: 100%;
  height: 704px;
  margin: 0 auto;
  background: url("img/banner-top.png") no-repeat  center;
}
.container{
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-image: url("img/bkg.png");
  background-size:100% 100%;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/bkg.png',sizingMethod='scale');
}
.first-module{
  width:100%;
  height: 977px;
  margin: 0 auto;
  background: url("img/first-module.png") no-repeat center ;
}
.second-module{
  width: 100%;
  margin: 100px auto 0;
  height: 566px;
  background: url("img/second-module.png") no-repeat  center;
}
.third-module{
  width:100%;
  margin: 100px auto 0;
  height: 797px;
  background: url("img/third-module.png") no-repeat center ;
}
.fourth-module{
  width:100%;
  margin: 100px auto 0;
  height: 617px;
  background: url("img/fourth-module.png") no-repeat  center;
}
.fifth-module{
  width:100%;
  margin: 100px auto 0;
}
.fifth-module .fifth-title{
  width:100%;
  margin-bottom: 50px;
  height: 46px;
  background: url("img/fifth-title.png") no-repeat center;
}
.list-info{
  list-style-type:demical;
  width: 1032px;
  margin: 0 auto;
}
.list-info li{
  list-style-position:outside;
  color: #fff;
  font-size: 28px;
  margin-bottom: 10px;
}
.list-info li h3{
  font-size: 28px;
  color: #fff;
  font-weight:lighter;
  padding-bottom:6px;
}
.list-info li p{
  font-size:26px;
  color: #e0cfff;
  font-weight:lighter;
}
.cur{
  padding-top: 20px;
  font-weight:lighter;
  font-size: 20px;
  color: #e0cfff;
  text-align: center;
}
.open{
  display: block;
  cursor: pointer;
  width:100%;
  height: 134px;
  padding-bottom: 44px;
  background: url("img/yd_button.png") no-repeat center;
}
/*定位图片*/
.one{
  position: absolute;
  left: 20px;
  top: 1000px;
  width: 150px;
  height: 80px;
  background: url("img/one.png") no-repeat;
  background-size: contain;
}
.two{
  position: absolute;
  right: 0;
  top:1700px;
  width: 150px;
  height: 80px;
  background: url("img/one.png") no-repeat;
  background-size: contain;
}
.three{
  position: absolute;
  left:0;
  bottom:1900px;
  width: 150px;
  height: 80px;
  background: url("img/three.png") no-repeat;
  background-size: contain;
}
.four{
  position: absolute;
  left:50px;
  bottom:0;
  width: 150px;
  height: 50px;
  background: url("img/five.png") no-repeat;
  background-size: contain;
}
.five{
  position: absolute;
  right: 0;
  bottom: 870px;
  width: 140px;
  height: 52px;
  background: url("img/four.png") no-repeat;
  background-size: contain;
}

