body,
html {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.warp-div {
  width: 100%;
  min-width: 1200px;
  background: none no-repeat center;
}
.warp-div > div {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}
.bg1 {
  height: 778px;
  background-image: url(img/bg1.png);
}
.bg2 {
  height: 1910px;
  background-image: url(img/bg2.png);
  overflow: hidden;
}
.bg2 > div {
  margin-top: 538px;
  width: 340px;
  height: 278px;
}
.bg3 {
  height: 274px;
  background-image: url(img/bg3.png);
  text-align: center;
}
.bg3 p {
  display: inline-block;
  width: 686px;
  height: 93px;
  margin-top: 70px;
}
.bg4 {
  height: 740px;
  background-image: url(img/bg4.png);
  overflow: hidden;
}
.bg4 > div {
  width: 970px;
  height: 390px;
  margin-top: 267px;
  overflow: hidden;
  position: relative;
  cursor: default;
}
.bg4 > div ul {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}
.bg4 > div ul li {
  width: 90%;
  height: 60px;
  line-height: 60px;
  color: #fff;
  padding-left: 10%!important;
  font-size: 20px;
}
.bg4 > div ul li span {
  display: inline-block;
  text-align: center;
}
.bg4 > div ul li span:first-child {
  width: 27%;
  text-align: left;
}
.bg4 > div ul li span:nth-child(2) {
  width: 33%;
}
.bg4 > div ul li span:nth-child(3) {
  width: 30%;
}
.bg5 {
  height: 794px;
  background-image: url(img/bg5.png);
  overflow: hidden;
}
.bg5 > div {
  height: 600px;
  margin-top: 100px;
  text-align: left;
}
.bg5 > div a {
  display: inline-block;
  width: 360px;
  height: 600px;
}
.bg5 > div .gold-ingot {
  width: 360px;
  margin-left: 25px;
}
.bg5 > div .month-profit {
  width: 360px;
  margin-left: 23px;
}
.bg6 {
  height: 913px;
  background-image: url(img/bg6.png);
}
.dimension {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  text-align: center;
  background: url("img/dimension.png") center / contain no-repeat;
  width: 304px!important;
  height: 344px;
  top: -410px;
  left: 330px;
  display: none;
}
.show {
  display: block;
}
