.disnone {
  display: none;
}
.clearfix:after {
  display: block;
  clear: both;
  height: 0;
  content: ".";
  visibility: hidden;
}
html {
  width: 100%;
  height: auto !important;
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  position: relative;
  width: 100%;
  max-height: 100%;
  height: 100%;
}
#J_wrapBody {
  position: relative;
  width: 100%;
  height: auto !important;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 1200px;
}
.main-content {
  width: 100%;
  height: 1184px;
  min-width: 1200px;
  background: url("img/Feb/bkg-top.png") center center no-repeat;
}
.wrap {
  position: relative;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.wrap .content-list {
  position: absolute;
  top: 1092px;
  left: 50%;
  z-index: 98;
  margin-left: -336px;
  width: 709px;
  height: 37px;
  line-height: 37px;
  border: 2px solid #8a1f03;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  background: #d62216;
}
.wrap .content-list .winData {
  width: 672px;
  height: 37px;
}
.wrap .content-list .winData ul {
  height: 37px;
  display: inline-block;
  overflow: hidden;
  zoom: 1;
}
.wrap .content-list .winData ul li {
  height: 37px;
  line-height: 37px;
  font-size: 16px;
  color: #ffdb00;
}
.wrap .content-list .winData ul li span {
  display: inline-block;
}
.wrap .content-list .winData .active-w {
  width: 100%;
  text-align: center;
}
.wrap .content-list .plus-mar-left {
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
}
.wrap .content-list .plus-mar-left ul {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.wrap .content-list .plus-mar-left ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-indent: 15px;
}
.wrap .rules-twinkle {
  position: absolute;
  z-index: 100;
  top: 1250px;
  right: 220px;
  width: 209px;
  height: 66px;
  background: url("img/Feb/rob-goods.png") center center no-repeat;
  background-size: 100% 100%;
}
.wrap .rules-rock {
  cursor: pointer;
  -webkit-animation: flash 3s infinite alternate ease;
  -moz-animation: flash 3s infinite alternate ease;
  -ms-animation: flash 3s infinite alternate ease;
  -o-animation: flash 3s infinite alternate ease;
  animation: flash 3s infinite alternate ease;
}
.wrap .person {
  position: absolute;
  z-index: 10;
  top: 1300px;
  right: 140px;
  width: 153px;
  height: 187px;
  background: url("img/Feb/person.png") center center no-repeat;
  background-size: 100% 100%;
}
.wrap .person-rock {
  cursor: pointer;
  -webkit-animation: move 1s 0.1s infinite alternate ease-in-out;
  -moz-animation: move 1s 0.1s infinite alternate ease-in-out;
  -ms-animation: move 1s 0.1s infinite alternate ease-in-out;
  -o-animation: move 1s 0.1s infinite alternate ease-in-out;
  animation: move 1s 0.1s infinite alternate ease-in-out;
  -webkit-transform-origin: bottom;
  -moz-transform-origin: bottom;
  -o-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
}
.wrap .person-l {
  position: absolute;
  z-index: 100;
  top: 1562px;
  left: -49px;
  width: 236px;
  height: 278px;
  background: url("img/Feb/person-l.png") center center no-repeat;
  background-size: 100% 100%;
}
.wrap .person-r {
  position: absolute;
  z-index: 100;
  top: 1442px;
  right: -49px;
  width: 294px;
  height: 396px;
  background: url("img/Feb/person-r.png") center center no-repeat;
  background-size: 100% 100%;
}
.wrap .prizes-one {
  position: absolute;
  z-index: 90;
  top: 1290px;
  left: 172px;
  width: 716px;
  height: 249px;
  background: url("img/Feb/prizes1.png") center center no-repeat;
  background-size: 100% 100%;
}
.wrap .prizes-two {
  position: absolute;
  z-index: 90;
  top: 1552px;
  left: 174px;
  width: 796px;
  height: 181px;
  background: url("img/Feb/prizes2.png") center center no-repeat;
  background-size: 100% 100%;
}
.wrap .activity-gl {
  position: absolute;
  z-index: 110;
  top: 1816px;
  left: 50%;
  margin-left: -624px;
  width: 1248px;
  height: 303px;
  background: url("img/Feb/gl.png") center center no-repeat;
  background-size: 100% 100%;
}
@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.5;
  }
}
@-moz-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.5;
  }
}
@-ms-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.5;
  }
}
@-o-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.5;
  }
}
@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.5;
  }
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: rotate(0deg);
  }
  33% {
    -webkit-transform: rotate(-5deg);
  }
  66% {
    -webkit-transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes move {
  0% {
    -moz-transform: rotate(0deg);
  }
  33% {
    -moz-transform: rotate(-5deg);
  }
  66% {
    -moz-transform: rotate(5deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}
@-o-keyframes move {
  0% {
    -o-transform: rotate(0deg);
  }
  33% {
    -o-transform: rotate(-5deg);
  }
  66% {
    -o-transform: rotate(5deg);
  }
  100% {
    -o-transform: rotate(0deg);
  }
}
@-ms-keyframes move {
  0% {
    -ms-transform: rotate(0deg);
  }
  33% {
    -ms-transform: rotate(-5deg);
  }
  66% {
    -ms-transform: rotate(5deg);
  }
  100% {
    -ms-transform: rotate(0deg);
  }
}
@keyframes move {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-5deg);
  }
  66% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.main-middle {
  position: relative;
  z-index: 20;
  width: 100%;
  height: 505px;
  min-width: 1200px;
  background: url("img/Feb/bkg-middle.png") center center no-repeat;
  overflow: hidden;
}
.main-bottom {
  position: relative;
  z-index: 20;
  width: 100%;
  height: 614px;
  min-width: 1200px;
  background: url("img/Feb/bkg-bottom.png") center center no-repeat;
  overflow: hidden;
}
/*弹窗*/
.popup {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6);
}
.popup .pop-main {
  position: fixed;
  width: 480px;
  height: 467px;
  top: 50%;
  left: 50%;
  margin-left: -240px;
  margin-top: -233.5px;
  background: url("img/Feb/pop.png") center no-repeat;
  background-size: 100% 100%;
}
.popup .pop-main .close {
  position: absolute;
  top: 460px;
  left: 50%;
  margin-left: -30px;
  display: block;
  width: 60px;
  height: 60px;
  background: url("img/Feb/close.png") center no-repeat;
  background-size: 100% 100%;
}
.lighter {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 210px;
  width: 877px;
  height: 889px;
  background: url("img/Feb/lighter.png") center center / 100% 100% no-repeat;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation: lighter 3s linear infinite;
  -moz-animation: lighter 3s linear infinite;
  -ms-animation: lighter 3s linear infinite;
  -o-animation: lighter 3s linear infinite;
  animation: lighter 3s linear infinite;
}
.blessing {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  width: 470px;
  height: 470px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}
.flip {
  clear: both;
  overflow: hidden;
  position: relative;
  left: 0;
  right: 0;
  width: 496px;
  height: 515px;
  margin: 0 auto;
  top: 399px;
}
.front {
  width: 496px;
  z-index: 100;
  height: 515px;
  background: url("img/Feb/fu.png") center center / contain no-repeat;
}
.behind {
  width: 0;
  z-index: 0;
  height: 515px;
  background: url("img/Feb/dimension.png") center center / contain no-repeat;
}
.mask {
  position: absolute;
  top: 165px;
  width: 250px;
  height: 210px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 100;
}
.drawShake {
  -webkit-animation: shake 1s ease 3 both;
  -moz-animation: shake 1s ease 3 both;
  -ms-animation: shake 1s ease 3 both;
  -o-animation: shake 1s ease 3 both;
  animation: shake 1s ease 3 both;
}
.drawRotate {
  -webkit-animation: drawRotate 0.4s linear both;
  -moz-animation: drawRotate 0.4s linear both;
  -ms-animation: drawRotate 0.4s linear both;
  -o-animation: drawRotate 0.4s linear both;
  animation: drawRotate 0.4s linear both;
}
.lion-common {
  position: absolute;
  z-index: 90;
  top: 534px;
  width: 390px;
  height: 505px;
}
.lion-left {
  left: 0;
  background: url("img/Feb/lion-left.png") center center / 100% 100% no-repeat;
}
.lion-right {
  right: 0;
  background: url("img/Feb/lion-right.png") center center / 100% 100% no-repeat;
}
.prizes {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 877px;
  z-index: 95;
  width: 764px;
  height: 246px;
  background: url("img/Feb/prizes.png") center center / 100% 100% no-repeat;
}
@-webkit-keyframes lighter {
  from {
    /*动画起始状态*/
    transform: rotateZ(0deg);
  }
  to {
    /*动画结束状态*/
    transform: rotateZ(360deg);
  }
}
@-moz-keyframes lighter {
  from {
    /*动画起始状态*/
    transform: rotateZ(0deg);
  }
  to {
    /*动画结束状态*/
    transform: rotateZ(360deg);
  }
}
@-o-keyframes lighter {
  from {
    /*动画起始状态*/
    transform: rotateZ(0deg);
  }
  to {
    /*动画结束状态*/
    transform: rotateZ(360deg);
  }
}
@-ms-keyframes lighter {
  from {
    /*动画起始状态*/
    transform: rotateZ(0deg);
  }
  to {
    /*动画结束状态*/
    transform: rotateZ(360deg);
  }
}
@keyframes lighter {
  from {
    /*动画起始状态*/
    transform: rotateZ(0deg);
  }
  to {
    /*动画结束状态*/
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes shake {
  0% {
    transform: scale(1);
  }
  10%,
  20% {
    transform: scale(1) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
@-moz-keyframes shake {
  0% {
    transform: scale(1);
  }
  10%,
  20% {
    transform: scale(1) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
@-o-keyframes shake {
  0% {
    transform: scale(1);
  }
  10%,
  20% {
    transform: scale(1) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
@-ms-keyframes shake {
  0% {
    transform: scale(1);
  }
  10%,
  20% {
    transform: scale(1) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
@keyframes shake {
  0% {
    transform: scale(1);
  }
  10%,
  20% {
    transform: scale(1) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
@-webkit-keyframes drawRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@-moz-keyframes drawRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@-o-keyframes drawRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@-ms-keyframes drawRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes drawRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
