@import "css/common.css";
input,
input:focus {
  background: none;
  outline: none;
  border: 0;
  -webkit-appearance: none;
  box-shadow: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button {
  border: none;
  outline: none;
}
input::-webkit-placeholder {
  font-size: 14px;
  color: #9e9b8d;
}
input::placeholder {
  font-size: 14px;
  color: #9e9b8d;
}
.user-verigy .disfont {
  font-size: 12px !important;
}
#J_wrapBody .wrap {
  width: 1198px;
  margin: 0 auto;
  position: relative;
}
.wrap-top {
  width: 100%;
  height: 1639px;
  min-width: 1200px;
  margin: 0 auto;
  background: url("img/Feb/pro-top.png") center center no-repeat;
}
.wrap-top .content-list {
  position: absolute;
  top: 1092px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 709px;
  height: 37px;
  line-height: 37px;
}
.wrap-top .content-list .winData {
  width: 709px;
  height: 37px;
}
.wrap-top .content-list .winData ul {
  height: 37px;
  display: inline-block;
  overflow: hidden;
  zoom: 1;
}
.wrap-top .content-list .winData ul li {
  height: 37px;
  line-height: 37px;
  font-size: 16px;
  color: #ffdb00;
}
.wrap-top .content-list .winData ul li span {
  display: inline-block;
}
.wrap-top .content-list .winData .active-w {
  width: 100%;
  text-align: center;
}
.wrap-top .content-list .plus-mar-left {
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
}
.wrap-top .content-list .plus-mar-left ul {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.wrap-top .content-list .plus-mar-left ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-indent: 15px;
}
.wrap-top .rules-twinkle {
  position: absolute;
  top: 840px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #ed1b24;
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}
@-webkit-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.5;
  }
}
@-moz-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.5;
  }
}
@-ms-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.5;
  }
}
@-o-keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.5;
  }
}
@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.5;
  }
}
.wrap-top .person {
  position: absolute;
  z-index: 90;
  top: 1344px;
  right: 145px;
  width: 152px;
  height: 175px;
  cursor: pointer;
}
.wrap-top .activity-gl {
  position: absolute;
  z-index: 100;
  top: 1853px;
  left: 50%;
  margin-left: -604px;
  width: 1218px;
  height: 296px;
  background: url("img/Feb/pro-gl.png") center center no-repeat;
  background-size: 100% 100%;
}
.wrap-top .register {
  width: 235px;
  float: right;
  margin-top: 60px;
  padding: 30px;
  background: url("img/Feb/register-bg.png") center center no-repeat;
  background-size: 100% 100%;
  margin-right: 20px;
}
.wrap-top .register .register-title {
  margin-bottom: 18px;
  height: 26px;
  background: url("img/Feb/register-title.png") center no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  -ms-background-size: contain;
}
.wrap-top .register .user-common {
  width: 240px;
  height: 38px;
  margin: 0 auto 10px;
}
.wrap-top .register .user-common input {
  height: 36px;
  line-height: 36px;
  border: 1px solid #f0f0f0;
  text-indent: 6px;
  font-size: 14px;
  color: #9e9b8d;
}
.wrap-top .register .user-num,
.wrap-top .register .user-psw {
  width: 240px;
}
.wrap-top .register .user-psw {
  position: relative;
}
.wrap-top .register .user-psw .psw-cur {
  position: absolute;
  display: inline-block;
  left: 6px;
  top: 12px;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  color: #9e9b8d;
}
.wrap-top .register .J-num,
.wrap-top .register .J-psw {
  width: 240px;
  height: 40px;
  background: #ededed;
}
.wrap-top .register .user-verigy {
  margin: 0 auto 14px;
  position: relative;
}
.wrap-top .register .verify-special {
  margin: 0 auto 10px;
}
.wrap-top .register .user-voice {
  text-align: right;
  margin: 0 auto 14px;
}
.wrap-top .register .user-verigy .J-verify,
.wrap-top .register .user-verigy .J-phoneyzm {
  float: left;
  width: 240px;
  height: 40px;
  background: #ededed;
}
.wrap-top .register .user-verigy .change-verify,
.wrap-top .register .user-verigy .get-phoneyzm {
  float: left;
  margin-left: 8px;
  width: 80px;
  height: 30px;
  background: #f6f5f5;
  color: #993333;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  behavior: url("css/ie-css3.htc");
  position: absolute;
  right: 0;
  margin-top: 6px;
}
.wrap-top .register .user-voice .J-voiceyzm {
  font-size: 14px;
  color: #fff;
}
.wrap-top .register .user-verigy .get-phoneyzm {
  text-align: center;
  font-size: 14px;
  color: #e02a00;
  line-height: 30px;
  background: #ffdd27;
  margin: 5px 4px 0 0;
  width: auto;
  padding: 0 5px;
}
.wrap-top .register .user-agree {
  width: 302px;
  margin: 0 auto  16px;
  position: relative;
}
.wrap-top .register .user-agree span {
  display: inline-block;
  vertical-align: middle;
  line-height: 14px;
  font-size: 14px;
  color: #cf2b38;
  text-indent: 8px;
}
.wrap-top .register .user-agree span a {
  font-size: 14px;
  color: #cc0033;
  cursor: pointer;
}
.wrap-top .register .user-agree .check-style {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  border: 1px solid #cf2b38;
  position: relative;
}
.wrap-top .register .user-agree .check-style .user-check {
  position: absolute;
  display: inline-block;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.wrap-top .register .user-agree .check-style .checked {
  background: url("img/Feb/checked.png") center no-repeat;
  background-size: 8px 9px;
}
.wrap-top .register .have-login {
  width: 240px;
  margin: 0 auto;
  text-align: right;
  font-size: 14px;
  color: #9e9b8d;
}
.wrap-top .register .have-login .logined {
  text-decoration: underline;
  color: #cc0033;
}
.wrap-top .register .cur {
  width: 240px;
  height: 20px;
  padding-bottom: 5px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  color: red;
}
.wrap-top .register .cur-special {
  margin: 0 auto;
  width: 268px;
  color: #fff;
}
.wrap-top .register .register-btn {
  display: block;
  width: 240px;
  height: 50px;
  text-align: center;
  line-height: 46px;
  margin: 0 auto 10px;
  background: #cf2b38;
  border-bottom: 4px solid #87000b;
  cursor: pointer;
  color: #ffe827;
  font-size: 24px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  behavior: url("css/ie-css3.htc");
}
.wrap-top .registered {
  height: 355px;
}
.wrap-top .registered h3 {
  font-size: 18px;
  color: #cc0033;
  margin: 15px 0 40px 0;
}
.wrap-top .registered .logo-company {
  margin: 40px auto 0;
  width: 125px;
  height: 125px;
}
.wrap-top .registered .logo-company img {
  margin-left: 8px;
  width: 100%;
  height: 100%;
}
.wrap-top .registered .activity-info {
  padding-top: 15px;
  text-align: center;
  font-size: 24px;
  color: #cc0033;
  font-weight: bold;
  height: 23px;
  line-height: 23px;
}
.wrap-top .registered .activity-cur {
  padding-top: 25px;
  text-align: center;
  font-size: 16px;
  color: #cc0033;
  height: 20px;
  line-height: 20px;
}
.wrap-top .registered .invest {
  display: block;
  width: 240px;
  height: 50px;
  margin: 50px auto 0;
  text-align: center;
  line-height: 46px;
  background: #cf2b38;
  border-bottom: 4px solid #87000b;
  cursor: pointer;
  color: #ffe827;
  font-size: 24px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  behavior: url("css/ie-css3.htc");
}
.wrap-center {
  width: 100%;
  height: 627px;
  min-width: 1200px;
  margin: 0 auto;
  background: url("img/Feb/pro-center.png") center center no-repeat;
  overflow: hidden;
}
.wrap-center .operate-data {
  width: 947px;
  margin: 187px auto 0;
  height: 120px;
}
.wrap-center .operate-data .advantage-data {
  width: 947px;
  margin: 0 auto;
  padding-top: 40px;
  clear: both;
  overflow: hidden;
}
.wrap-center .operate-data .advantage-data li {
  float: left;
  width: 236px;
  color: #fff6db;
  text-align: left;
}
.wrap-center .operate-data .advantage-data li .advantage-content {
  display: block;
  font-size: 18px;
  text-align: center;
}
.wrap-center .operate-data .advantage-data li p {
  text-align: center;
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  width: 236px;
}
.wrap-center .operate-data .advantage-data li p span {
  font-size: 40px;
  color: #ffeb0c;
}
.wrap-bottom {
  width: 100%;
  height: 921px;
  min-width: 1200px;
  margin: 0 auto;
  background: url("img/Feb/pro-bottom.png") center center no-repeat;
  overflow: hidden;
}
.wrap-bottom .product-data {
  width: 947px;
  height: 237px;
  margin: 230px auto 0;
  text-align: center;
}
.wrap-bottom .product-data .product-common .pro-info {
  vertical-align: middle;
}
.wrap-bottom .product-data .product-common .pro-info p {
  height: 28px;
  line-height: 28px;
  font-size: 16px;
  color: #f9fec8;
}
.wrap-bottom .product-data .product-common .pro-info .info-two {
  margin-top: 75px;
}
.wrap-bottom .product-data .product-common .pro-data {
  vertical-align: middle;
  margin-top: 25px;
}
.wrap-bottom .product-data .product-common .pro-data .p-apr {
  display: inline-block;
  font-size: 30px;
  color: #ffed1f;
  height: 48px;
  line-height: 48px;
  position: relative;
  top: 5px;
}
.wrap-bottom .product-data .product-common .pro-data .p-apr span {
  font-weight: bolder;
  font-size: 50px;
}
.wrap-bottom .product-data .product-common .pro-data .p-apr i {
  font-style: normal;
  font-size: 35px;
}
.wrap-bottom .product-data .product-common .pro-data a {
  display: inline-block;
  width: 172px;
  height: 66px;
  line-height: 55px;
  background: url("img/Feb/investBtn.png") center center no-repeat;
  background-size: 100% 100%;
  font-size: 28px;
  color: #db0a0e;
  font-weight: bold;
  float: right;
}
.wrap-bottom .product-data .product-common .p-history {
  margin-top: 10px;
  font-size: 12px;
  color: #ffed1f;
}
.wrap-bottom .product-data .xscp-data {
  float: left;
  width: 50%;
  height: 237px;
  margin: 0 auto;
}
.wrap-bottom .product-data .xscp-data a {
  margin-right: 40px;
}
.wrap-bottom .product-data .xyb-data {
  float: right;
  width: 50%;
  height: 237px;
  margin: 0 auto;
}
.wrap-bottom .product-data .xyb-data a {
  margin-right: 50px;
}
.wrap-bottom .tb-content {
  width: 947px;
  height: 190px;
  margin: 30px auto 0;
  overflow: hidden;
}
.wrap-bottom .tb-content .product-td {
  margin: 0 auto ;
  width: 886px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  background: #ed2226;
  border: 2px solid #f9fec8;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
}
.wrap-bottom .tb-content .product-td .td-special {
  width: 480px;
}
.wrap-bottom .tb-content .product-td th {
  font-size: 20px;
  width: 170px;
  height: 46px;
  color: #f9fec8;
  border-bottom: 1px solid #fb5e61;
}
.wrap-bottom .tb-content .product-td th:nth-child(1) {
  width: 160px;
}
.wrap-bottom .tb-content .product-td .th-special {
  border-left: 1px solid #fb5e61;
}
.wrap-bottom .tb-content .product-td td {
  font-size: 20px;
  width: 228px;
  height: 59px;
  color: #f9fec8;
  border-bottom: 1px solid #fb5e61;
}
.wrap-bottom .tb-content .product-td td b {
  color: #f9fec8;
  font-weight: 700;
}
.wrap-bottom .tb-content .product-td td p {
  display: inline-block;
  font-size: 20px;
  color: #ffed1f;
}
.wrap-bottom .tb-content .product-td td p span {
  font-weight: 700;
}
.wrap-bottom .tb-content .product-td tr:nth-child(3) td {
  border-bottom: none;
}
.wrap-bottom .tb-content .product-td tr:nth-child(2) td:nth-child(3) {
  border-bottom: none;
}
.wrap-bottom .invest-cur {
  padding-top: 22px;
  position: relative;
  width: 1142px;
  margin: 0 auto;
}
.wrap-bottom .invest-cur p {
  font-size: 16px;
  color: #ffcccc;
}
.wrap-bottom .invest-cur .invest-l {
  float: left;
  margin-left: 0;
}
.wrap-bottom .invest-cur .invest-r {
  float: right;
  margin-right: 0;
}
.register-bottom {
  position: relative;
  width: 100%;
  min-width: 1200px;
  bottom: 110px;
  height: 110px;
  background: #73191a;
}
.bottom-btn {
  display: block;
  position: absolute;
  text-align: center;
  width: 483px;
  height: 81px;
  line-height: 70px;
  left: 50%;
  top: 50%;
  margin-left: -257px;
  margin-top: -40px;
  background: url("img/Feb/register-btn.png") center center no-repeat;
  background-size: 100% 100%;
  font-size: 42px;
  color: #fff;
  font-weight: 500;
}
.special-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-width: 1200px;
  height: 110px;
  z-index: 999;
  background: #73191a;
}
.activity-end {
  background: url("img/Feb/acitivity-end.png") center center no-repeat;
  background-size: 100% 100%;
  color: #fff;
  cursor: default;
}
.popup {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6);
}
.popup .pop-main {
  position: fixed;
  width: 890px;
  height: 451px;
  top: 50%;
  left: 50%;
  margin-left: -446.5px;
  margin-top: -234.5px;
  background: url("img/Feb/activity-rules.png") center center no-repeat;
  background-size: 100% 100%;
}
.popup .pop-main .close {
  position: absolute;
  top: -50px;
  right: 0;
  margin-left: -30px;
  display: block;
  width: 37px;
  height: 37px;
  background: url("img/Feb/close.png") center center no-repeat;
  background-size: 100% 100%;
}
