@import "../../css/variable";
.content-wrap {
	width: 100%;
	background: #fff;
	padding:15px 0;
	.content {
		width:1000px;
		text-align: center;
		margin: 0 auto;
		padding:40px 0;
		.side {
			float:left;
			width:250px;
			text-align: left;
			padding-left: 50px;
			li {
				float: left;
				width:250px;
				a {
					font:normal 17px/35px $font;
					color:#A3A3A3;
				}
				&.active a , &:hover a {
					color:#FC5A36;
					font:bold 17px/35px $font;
					border-bottom: 2px solid #FC5A36;
					-webkit-transform: scale(1.1);
					-moz-transform:scale(1.1);
					-o-transform:scale(1.1);
					transform:scale(1.1);
				}
			}
		}
		
		
		.list {
			width:750px;
			float: left;
			overflow: hidden;
			
			li:nth-of-type(odd) {
				background: #EFEFEF;
			}
			li:nth-of-type(even) {
				background: #ffffff;
			}
			
			li {
				position: relative;
				height: 100px;
				padding: 10px 20px;
				margin:5px 0;
				border-radius: 16px;
				width:710px;
				.header {
					position: relative;
					float:left;
					width: 80px;
					height: 80px;
					background: url("i/header.png") repeat;
					background-size: 80px 80px;
					&.close{
						background: url("i/header-close.png") no-repeat;
						background-size: 80px 80px;
					}
					.lock {
						position: absolute;
						width: 31px;
						height: 42px;
						left:24px;
						top:10px;
						background: url("i/lock-open.png") no-repeat center;
						background-size: 31px 42px;
						&.close {
							background: url("i/lock-close.png") no-repeat center;
							background-size: 31px 42px;
						}
					}
					span {
						position: absolute;
						bottom: 5px;
						left:22px;
						font: normal 12px/15px $font;
						color: white;
					}
				}
				
				.title {
					position: absolute;
					left:120px;
					top:10px;
					font:bold 18px/22px $font;
					color: #000000;
				}
				.desc {
					position: absolute;
					left:120px;
					top:35px;
					font:normal 15px/22px $font;
					color: #000000;
				}
				.play {
					position: absolute;
					top:30px;
					right:30px;
					display: block;
					height: 40px;
					width:104px;
					border: 2px solid #FC5A36;
					border-radius: 10px;
					font:normal 17px/34px $font;
					color: #FC5A36;
					&:hover {
						cursor: pointer;
						border: 2px solid #FC5A36;
						box-shadow: inset 0 1px 59px 8px rgba(252,90,54,0.50);
						border-radius: 10px;
					}
				}
			}
		}
		
	}
	
	.notification-wrap {
		width: 100%;
		height: 47px;
		background: #F7F7F7;
		.notification {
			position: relative;
			width: 1200px;
			margin: 0 auto;
			i {
				position: absolute;
				display: block;
				top:12px;
				left:30px;
				width: 28px;
				height: 23px;
				background: url("i/trumpet.png") no-repeat;
				background-size: 28px 23px;
			}
			span {
				font:normal 17px/47px $font;
				color:#FC5A36;
				margin:0 0 0 80px;
			}
			a  {
				position: absolute;
				display: block;
				right: 20px;
				top: 5px;
				width:104px;
				height: 35px;
				font: normal 17px/35px $font;
				color: white;
				text-align: center;
				background: #FC5A36;
				border-radius: 10px;
				&:hover {
					background: #FC5A36;
					box-shadow: inset 0 0 36px 3px rgba(255,255,255,0.50);
					border-radius: 10px;
				}
			}
		}
	}
}