body,html{
  padding:0;
  margin:0;
}
li{
  list-style: none;
}
.warp-div {
  width: 100%;
  min-width: 1200px;
  background: none no-repeat center;
  >div {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
  }
}
.bg1 {
  height: 851px;
  background-image:url(img/bg1.png);
}
.bg2 {
  height: 1119px;
  background-image:url(img/bg2.png);
  overflow: hidden;
  >div{
    margin-top: 538px;
    width: 340px;
    height: 278px;
  }
}
.bg3 {
  height: 444px;
  background-image:url(img/bg3.png);
}
.bg4 {
  height: 648px;
  background-image:url(img/bg4.png);
  overflow: hidden;
  >div{
    width: 1052px;
    height: 288px;
    margin-top: 267px;
    overflow: hidden;
    position: relative;
    ul{
      width: 100%;
      padding:0;
      margin:0;
      position: relative;
      li{
        width: 94%;
        height: 48px;
        line-height: 48px;
        color: #fff;
        padding-left: 6%;
        font-size:20px;
        span{
          display: inline-block;
          text-align: center;
          &:first-child{
            width: 23.33%;
          }
          &:nth-child(2){
            width: 43.33%;
          }
          &:nth-child(3){
            width: 26%;
          }
        }
      }
    }
  }
}
.bg5 {
  height: 695px;
  background-image:url(img/bg5.png);
  overflow: hidden;
  >div{
    height: 300px;
    text-align: center;
    margin-top: 214px;
    text-align: left;
    a{
      display: inline-block;
      width: 330px;
      height: 392px;
      margin-left: 60px;
    }
    .gold-ingot{
      width: 358px;
      margin-left: 21px;
    }
    .month-profit{
      width: 346px;
      margin-left:13px;
    }
  }
}
.bg6 {
  height: 690px;
  background-image:url(img/bg6.png);
}

.mui-dialog-inner{
  background: transparent !important;
}
.dimension {
  display: inline-block;
  position: relative;
  margin:0 auto;
  text-align: center;
  p {
    font-size: 30px;
    color: #fff;
    margin-top:25px;
    margin:0 auto;
    text-align: center;
  }
  .c_close {
    width: 42px;
    height: 42px;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    background: url("img/close.png") 0 0 no-repeat;
    background-size: 100% 100%;
    top:-66px;
    right:-32px;
  }
}