//page5
.page5-text1 p { font-size : 13px; color : #ffd71b }

.page5-text1 h1 { font-size : 3.5rem; }
.page5-text2 {margin:5% 0;}
.page5-text2>* {margin:3% 0;}
.page5-text2 p { color : $co-tag3 }

.page5-text2 h1 { font-size : 2.5rem }

