/*
 * 组件：气泡
 * 组件注册编号：02-0002
 * 标准结构1级
 * 属性：
 * sz    规格（默认：m   s | m | l）
 * co    颜色 (默认：read  read | back | main | vice | info | success | warn | error)
 * 示例：
 *  <span class="xui-btn" mc="02-0002"></span> 默认的这样就行了
 *  <div class="xui-btn" mc="02-0002" btn-sz="s"></div> 小号的这样写
 * 关联：html+css
 */

.xui-progress-bar[data-theme="default"] {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 1rem;
  //background: #ff9900;
  vertical-align: middle;
}

.xui-progress-bar[data-theme="default"]:before {
  content: "";
  background: $bg-back;
}

.xui-progress-bar[data-theme="default"]:before,
.xui-progress-bar[data-theme="default"]>*{
  display: block;
  width: 100%;
  height: .2rem;
  position: absolute;
  top: .4rem;
  left: 0;
  border-radius: 1rem;
}
.xui-progress-bar[data-theme="default"]>*{
  z-index: 1;
  width: 0;
  transition: all .3s .3s;
  -webkit-transition: all .3s .3s;
}


//颜色
.xui-progress-bar[data-theme="default"][data-co="main"]>*{
  background: $bg-main;
}
.xui-progress-bar[data-theme="default"][data-co="vice"]>*{
  background: $bg-vice;
}
.xui-progress-bar[data-theme="default"][data-co="info"]>*{
  background: $bg-info;
}
.xui-progress-bar[data-theme="default"][data-co="success"]>*{
  background: $bg-success;
}
.xui-progress-bar[data-theme="default"][data-co="warn"]>*{
  background: $bg-warn;
}
.xui-progress-bar[data-theme="default"][data-co="danger"]>*{
  background: $bg-danger;
}