/**
 * Created by gaoshanshan_syp on 2017/11/29.
 */
.disnone {
  display: none;
}
.disblock {
  display: block;
}
.dishidden {
  visibility: hidden;
}
.clearfix:after {
  display: block;
  clear: both;
  height: 0;
  content: ".";
  visibility: hidden;
}
html {
  width: 100%;
  height: auto !important;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  position: relative;
  width: 100%;
  max-height: 100%;
  height: 100%;
}
#J_wrapBody {
  position: relative;
  width: 100%;
  height: auto !important;
  overflow-y: auto;
}
.wrap {
  margin: 0 auto;
}
/*//header start*/
.header {
  width: 100%;
  height: 93px;
  margin: 0 auto;
  background-color: #f9f9f9;
}
.header-main {
  width: 1200px;
  height: 93px;
  margin: 0 auto;
}
.header .logo {
  display: inline-block;
  width: 368px;
  height: 93px;
  background: url("css/i/logo.png") center no-repeat;
}
.tel {
  float: right;
  height: 93px;
  margin-right: 0;
}
.tel-icon {
  display: inline-block;
  height: 93px;
  line-height: 93px;
  vertical-align: middle;
}
.tel-icon img {
  vertical-align: middle;
  width: 32px;
  height: 32px;
}
.tel-num {
  display: inline-block;
  border-left: 1px solid #d9d9d9;
  text-align: center;
  vertical-align: middle;
  margin-left: 18px;
  padding-left: 18px;
}
.tel-num h3 {
  font-size: 24px;
  color: #004682;
}
.tel-num p {
  font-size: 16px;
  color: #7b7a7a;
}
/*固定导航条*/
.header-fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  opacity: 0.5;
  filter: alpha(opacity=50);
  height: 72px;
}
.header-fixed .logo {
  height: 72px;
}
.header-fixed .tel {
  height: 72px;
}
.header-fixed .tel-icon {
  height: 72px;
  line-height: 72px;
}
/*header end*/
.detail-footer .prompt {
  text-align: right;
  margin-bottom: 40px;
  font-size: 16px;
  color: #ff9936;
}
.detail-footer .prompt span {
  display: inline-block;
  margin-right: 12px;
  width: 68px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 18px;
  border: 1px solid #ff9936;
}
.no-checkBkg {
  background-color: #999 !important;
}
.mui-preview {
  background-color: rgba(0, 0, 0, 0);
}
.cur {
  width: 100%;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  color: red;
}
.cur-special {
  width: 268px;
  color: #fff;
}
.footer {
  width: 100%;
  height: 119px;
  margin: 0 auto;
}
.footer .footer-container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 14px 0 0 0;
}
.footer p {
  font: normal 16px/26px "microsoft yahei";
}
.footer p i {
  display: inline-block;
  width: 26px;
  height: 23px;
  vertical-align: middle;
  background: url("css/i/pic110.png") -2px -38px no-repeat;
}
.footer p a {
  color: #666;
}
.footer p a:hover {
  color: #00498a;
}
.footer ul {
  margin-top: 6px;
}
.footer ul li {
  display: inline-block;
  margin-right: 10px;
}
.footer ul a {
  display: inline-block;
  width: 130px;
  height: 28px;
  cursor: pointer;
}
.footer ul .law a {
  background: url("css/i/hlwjb.png") 0 0 no-repeat;
  width: 140px;
}
.footer ul .law a:hover {
  background-position: 0px -37px;
}
.footer ul .integrity a {
  width: 28px;
  height: 28px;
  background: url("css/i/foot-new.png") -2px -126px no-repeat;
}
.footer ul .integrity a:hover {
  background-position: -2px -156px;
}
.footer ul .dependable a {
  background: url("css/i/foot-new.png") -2px -67px no-repeat;
  width: 68px;
}
.footer ul .dependable a:hover {
  background-position: -2px -96px;
}
.footer ul .honesty a {
  background: url("css/i/foot-new.png") -2px -3px no-repeat;
  width: 78px;
}
.footer ul .honesty a:hover {
  background-position: -2px -35px;
}
.footer ul .record a {
  background: url("css/i/pic110.png") 0 0 no-repeat;
}
.footer ul .record a:hover {
  background-position: 0px -36px;
}
input,
input:focus {
  background: none;
  outline: none;
  border: 0;
  -webkit-appearance: none;
  box-shadow: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button {
  border: none;
  outline: none;
}
input::-webkit-placeholder {
  font-size: 14px;
  color: #993333;
}
input::placeholder {
  font-size: 14px;
  color: #993333;
}
.user-verigy .disfont {
  font-size: 12px !important;
}
/*container start*/
.wrap {
  min-width: 1200px;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.top-main {
  width: 100%;
  height: 832px;
  margin: 0 auto;
  background: url("img/bkg-top.png") center no-repeat;
}
.top-main .top-wrap {
  width: 1200px;
  height: 754px;
  margin: 0 auto;
  overflow: hidden;
}
.top-main .top-wrap .register-main {
  float: right;
  margin-top: 50px;
  padding: 30px;
  background: url("img/register-bg.png") center center no-repeat;
  background-size: 100% 100%;
}
.top-main .top-wrap .register-main .register-title {
  margin-bottom: 18px;
  height: 26px;
  background: url("img/register-title.png") center no-repeat;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  -ms-background-size: contain;
}
.top-main .top-wrap .register-main .user-common {
  width: 304px;
  height: 38px;
  margin: 0 auto 14px;
}
.top-main .top-wrap .register-main .user-common input {
  height: 38px;
  line-height: 38px;
  border: 1px solid #f0f0f0;
  text-indent: 6px;
  font-size: 14px;
  color: #993333;
}
.top-main .top-wrap .register-main .user-num,
.top-main .top-wrap .register-main .user-psw {
  width: 304px;
}
.top-main .top-wrap .register-main .user-psw {
  position: relative;
}
.top-main .top-wrap .register-main .user-psw .psw-cur {
  position: absolute;
  display: inline-block;
  left: 6px;
  top: 12px;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  color: #993333;
}
.top-main .top-wrap .register-main .user-psw .disnone {
  display: none;
}
.top-main .top-wrap .register-main .J-num,
.top-main .top-wrap .register-main .J-psw {
  width: 304px;
  height: 40px;
  background: #f6f5f5;
}
.top-main .top-wrap .register-main .user-verigy {
  margin: 0 auto 14px;
}
.top-main .top-wrap .register-main .verify-special {
  margin: 0 auto 10px;
}
.top-main .top-wrap .register-main .user-voice {
  text-align: right;
  margin: 0 auto 14px;
}
.top-main .top-wrap .register-main .user-verigy .J-verify,
.top-main .top-wrap .register-main .user-verigy .J-phoneyzm {
  float: left;
  width: 178px;
  height: 40px;
  background: #f6f5f5;
}
.top-main .top-wrap .register-main .user-verigy .change-verify,
.top-main .top-wrap .register-main .user-verigy .get-phoneyzm {
  float: left;
  margin-left: 8px;
  width: 116px;
  height: 40px;
  background: #f6f5f5;
  color: #993333;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  behavior: url("css/ie-css3.htc");
}
.top-main .top-wrap .register-main .user-voice .J-voiceyzm {
  font-size: 14px;
  color: #fff;
}
.top-main .top-wrap .register-main .user-verigy .get-phoneyzm {
  text-align: center;
  font-size: 14px;
  color: #666;
  line-height: 40px;
}
.top-main .top-wrap .register-main .user-agree {
  width: 302px;
  margin: 0 auto  16px;
  position: relative;
}
.top-main .top-wrap .register-main .user-agree span {
  display: inline-block;
  vertical-align: middle;
  line-height: 14px;
  font-size: 14px;
  color: #993333;
  text-indent: 8px;
}
.top-main .top-wrap .register-main .user-agree span a {
  font-size: 14px;
  color: #cc0033;
  cursor: pointer;
}
.top-main .top-wrap .register-main .user-agree .check-style {
  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  border: 1px solid #000;
  position: relative;
}
.top-main .top-wrap .register-main .user-agree .check-style .user-check {
  position: absolute;
  display: inline-block;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.top-main .top-wrap .register-main .user-agree .check-style .checked {
  background: url("img/checked.png") center no-repeat;
  background-size: 8px 9px;
}
.top-main .top-wrap .register-main .have-login {
  width: 300px;
  margin: 0 auto;
  text-align: right;
  font-size: 14px;
  color: #993333;
}
.top-main .top-wrap .register-main .have-login .logined {
  text-decoration: underline;
  color: #cc0033;
}
.top-main .top-wrap .register-main .cur {
  width: 302px;
  height: 20px;
  padding-bottom: 5px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  color: red;
}
.top-main .top-wrap .register-main .cur-special {
  margin: 0 auto;
  width: 268px;
  color: #fff;
}
.top-main .top-wrap .register-main .register-btn {
  display: block;
  width: 282px;
  height: 61px;
  text-align: center;
  line-height: 61px;
  margin: 0 auto 14px;
  background: url("img/register-btn.png") center no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.container-main {
  width: 100%;
  min-width: 1200px;
  height: 1989px;
  background: url("img/bkg-center.png") center no-repeat;
  margin: 0 auto;
  overflow: hidden;
}
.container-main .wrap-btn {
  width: 1120px;
  margin: 324px auto 0;
  height: 74px;
  position: relative;
  overflow: hidden;
}
.container-main .wrap-btn span {
  position: absolute;
  width: 341px;
  height: 74px;
  cursor: pointer;
}
.container-main .wrap-btn .btn1 {
  left: 88px;
  background: url("img/btn1.png") center center no-repeat;
  background-size: 100% 100%;
}
.container-main .wrap-btn .btn2 {
  right: 88px;
  background: url("img/btn1.png") center center no-repeat;
  background-size: 100% 100%;
}
.container-main .suspend {
  display: block;
  width: 100%;
  min-width: 1200px;
  height: 110px;
  background: url("img/bkg-bottom.png") center center no-repeat;
  background-size: 100% 100%;
  text-align: center;
  position: absolute;
  bottom: 119px;
}
.container-main .suspend span {
  display: inline-block;
  width: 527px;
  height: 86px;
  cursor: pointer;
  background: url("img/bottom-btn.png") center center no-repeat;
  background-size: 100% 100%;
  margin: 12px auto 0;
}
.suspend-special {
  width: 100%;
  height: 110px;
  min-width: 1200px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 800;
  background: url("img/bkg-bottom.png") center center no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
.suspend-special span {
  display: inline-block;
  width: 527px;
  height: 86px;
  cursor: pointer;
  background: url("img/bottom-btn.png") center center no-repeat;
  margin: 12px auto 0;
}
