//page5

.swiper-slide5{
  background: #242540;
}
.page5-text1 p {
  font-size : 13px;
  color : #fffe81
}
.page5-text1 h1 {
  font-size : 3.5rem;
}
.page5-text2 {
  margin:5% 0;
}
.page5-text2>* {
  margin:3% 0;
}
.page5-text2 p {
  color : #1cc1ff
}

.page5-text2 h1 {
  font-size : 2.5rem;
}

