.swiper-slide13{
  background: #242540;
  p{
    width: 40%;
  }
  ul{
    width: 50%;
    li{
      margin-bottom: 0.5rem;
    }
  }
  .page-box{
    position: relative;
    top: -3rem;
    div{
      width: 100%;
      margin-top: 3rem;
      overflow: hidden;
      font-size: 0.8rem;
      color: #fffe81;
       p{
         margin-right: 1rem;
       }
    }
  }
}
