//page10
.swiper-slide10{
  background: #242540;
}

.swiper-slide10 .new-text{
  padding-left:.5rem;
  p{
    font-size: 0.8rem;
    color: #9394ba;
  }
}

.swiper-slide10 img{width: 75%}

.swiper-slide10 .page-title1{
  color: #fffe81;
}
.swiper-slide10 .page-title2{
  color: #1afcef;
}