@mainColor: #9b00e6;
@bgHeader: #660c90;
@bglucky: #7900b1;
@fontColor: #683f7c;
.center {
  margin: 0 auto;
  text-align: center;
}

.bg1 {
  width: 100%;
  height: 792px;
  background: url(img/bg1.png) 50% 0 no-repeat;
  min-width: 1200px;
}

.bg2 {
  height: 911px;
  min-width: 1200px;
  background: @bgHeader;
  overflow: hidden;
  width: 100%;
  .area2 {
    width: 1170px;
  }
  h2 {
    font-size: 65px;
    font-weight: bolder;
    text-shadow: 0 3px 0 #a52cdd, 0 6px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 16px;
    padding: 0;
    color: #fff;
  }
  p {
    display: inline-block;
    background: #520078;
    border-radius: 20px;
    margin: 0 10%;
    padding: 2px 30px;
    color: #fff;
    font-size: 27px;
    span {
      color: #ff0;
    }
  }
  .masks {
    margin-top: 40px;
    cursor: pointer;
    .mask {
      display: inline-block;
      width: 212px;
      height: 264px;
      background: url(img/maskbg.png) 0 0 no-repeat;
      margin-right: 40px;
      overflow: hidden;
      img {
        margin-top: 60px;
      }
      .last {
        margin-right: 0;
      }
    }
  }
  .secend {
    .mask {
      margin-right: 22px;
    }
    .last {
      margin-right: 0;
    }
  }

}

.bg3 {
  width: 100%;
  height: 993px;
  background: url(img/bg3.jpg) 50% 0 no-repeat;
  min-width: 1200px;
  overflow: hidden;
  .area3 {
    width: 1148px;
    margin: 0 auto;
    margin-top: 234px;
    .lucky {
      width: 100%;
      height: 312px;
      overflow: hidden;
    }
    .ranking {
      width: 100%;
      height: 156px;
      margin-top: 230px;
      overflow: hidden;
    }
    ul {
      padding: 0;
      margin: 0;
      position: relative;
    }
    li {
      width: 100%;
      list-style: none;
      height: 52px;
      line-height: 52px;
      font-size: 20px;
      color: #fff;
      span {
        display: inline-block;
        width: 32%;
        text-align: center;
      }
      .span1 {
        width: 32%;
      }
      .span2 {
        width: 32%;
      }
      .span3 {
        width: 32%;
      }
    }
  }
}

.bg4 {
  width: 100%;
  height: 538px;
  background: url(img/bg4.png) 50% 0 no-repeat;
  min-width: 1200px;
}

.bg5 {
  width: 100%;
  height: 648px;
  background: url(img/bg5.jpg) 50% 0 no-repeat;
  min-width: 1200px;
  overflow: hidden;
  .product {
    width: 1148px;
    margin: 0 auto;
    margin-top: 189px;
    height: 360px;
    a {
      display: inline-block;
      width: 322px;
      height: 360px;
      margin-left: 190px;
    }
    .gold-ingot {
      margin-left: 118px;
    }
  }
}
.mui-dialog-inner{
  background: transparent !important;
}
.bg6 {
  width: 100%;
  height: 618px;
  background: url(img/bg6.jpg) 50% 0 no-repeat;
  min-width: 1200px;
}

.dimension {
  display: inline-block;
  p {
    font-size: 30px;
    color: #fff;
    margin: 0 0 25px 0;
  }
  .c_close {
    width: 42px;
    height: 42px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    margin-top:28px;
    background: url("img/close.png") 0 0 no-repeat;
    background-size: 100% 100%;
  }
}
