@import '../../../node_modules/antd-mobile/lib/style/index.css';
@import '../../../node_modules/antd-mobile/lib/icon/style/index.css';
@import '../../../node_modules/antd-mobile/lib/pull-to-refresh/style/index.css';
@import '../../../node_modules/antd-mobile/lib/list-view/style/index.css';
@import '../../../node_modules/antd-mobile/lib/button/style/index.css';
@import '../../../node_modules/antd-mobile/lib/toast/style/index.css';
@import '../../../node_modules/antd-mobile/lib/modal/style/index.css';

@import "../../../static/html/css/base.css";
@import '../../../static/html/tzhistory/index.css';

.text-center{
    text-align: center;
    padding: 20px 0;
}
h1{
    font-weight: normal
}
.hide{
    display: none!important;
}
.bold{
    font-weight: bold;
}
.login-pad{
    p{
        padding: 40px;
        text-align: center;
        background: #fff;
        a{
            color: blue;
            margin-right: 10px;
        }
    }
    
}

.expense span{
    display: block;
}

table, tr, td{
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding: 5px;
    margin-top: -1px;
}


.questiontip{
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-left: 10px;
    text-align: center;
    border-radius: 50%;
    background: #000;
    color: #fff;
    display: inline-block;
}
.credit-tip{
    text-align: center;
    background: #fff;
    padding: 10px;
    margin-top: 5px;
}