@mainColor: #ff3f8e;
*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "MicroSoft YaHei", "sans-serif";
}
ul, ol,li {
  list-style: none;
}
a {
  text-decoration: none;
  color: @mainColor;
}
a:link,a:visited,a:hover,a:active{
  text-decoration: none;
}
input, textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}
img{
  vertical-align: bottom;
  display: block;
}
.f_left {
  float: left;
}
.f_right {
  float: right;
}
.clearfix::after, .clearfix::before {
  content: ".";
  line-height: 0;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.m_r10 {
  margin-right: 10/64rem;
}
.m_l10 {
  margin-left: 10/64rem;
}
.m_t10 {
  margin-top: 10/64rem;
}
.m_b10 {
  margin-bottom: 10/64rem;
}
.center{
  margin: 0 auto;
  text-align: center;
}
