@import '../../../node_modules/antd-mobile/lib/style/index.css';
@import '../../../node_modules/antd-mobile/lib/icon/style/index.css';
@import '../../../node_modules/antd-mobile/lib/pull-to-refresh/style/index.css';
@import '../../../node_modules/antd-mobile/lib/list-view/style/index.css';
@import '../../../node_modules/antd-mobile/lib/button/style/index.css';
@import '../../../node_modules/antd-mobile/lib/toast/style/index.css';
@import '../../../node_modules/antd-mobile/lib/modal/style/index.css';
@import "../../../static/html/css/base.css";
@import '../../../static/html/xxb/index.css';

h1{
    font-weight: normal
}
.text-center{
    text-align: center;
    padding: 20px 0;
}