.warp-div {
  width: 100%;
  min-width: 1020px;
  background: none no-repeat center;
  .inner-div {
    width: 1020px;
    margin: 0 auto;
    position: relative;
  }
}

.bg1 {
  background-image: url(img/bg1.jpg);
  .area1 {
    height: 650px;
  }
}

.bg2 {
  background-image: url(img/bg2.jpg);
  .area2 {
    height: 546px;
  }
}

.bg3 {
  background-image: url(img/bg3.jpg);
  .area3 {
    height: 528px;
  }
}

.bg4 {
  background-image: url(img/bg4.jpg);
  .area4 {
    height: 176px;
  }
}

.bg5 {
  background-image: url(img/bg5.jpg);
  .area5 {
    height: 318px;
    p {
      position: absolute;
      display: inline-block;
      width: 217px;
      color: #ee3147;
      span {
        font-weight: bold;
        font-size: 30px;
      }
      i {
        font-style: normal;
        font-size: 30px;
      }
      &.totaltrade {
        text-align: left;
        top: 14px;
        left: 21px;
      }
      &.totalincome {
        left: 238px;
        top: 14px;
        text-align: right;
      }
      &.totalcount {
        text-align: left;
        top: 147px;
        left: 21px;
      }
      &.totalbalace {
        left: 238px;
        top: 147px;
        text-align: right;
        span{
          font-size: 21px;
        }
      }
    }
  }
}

.bg6 {
  background-image: url(img/bg6.jpg);
  .area6 {
    height: 152px;
  }
}

.bg7 {
  background-image: url(img/bg7.jpg);
  .area7 {
    height: 382px;
    text-align: center;
    i {
      display: inline-block;
      position: absolute;
      width: 33px;
      height: 90px;
      right: 66px;
      top: 127px;
      cursor: pointer;
      &.left {
        left: 61px;
      }
      &.right {
        right: 66px;
      }
    }
    .wrap-partner {
      width: 756px;
      margin: 0 auto;
      overflow: hidden;
      ul {
        display: inline-block;
        overflow: hidden;
        padding: 0;
        margin-top: 25px;
        height: 300px;
        li {
          float: left;
          display: inline-block;
          a {
            margin: 25px;
            display: inline-block;
            width: 202px;
            height: 245px;
            background: none no-repeat center;
            &.ad1 {
              background-image: url("img/award1.png");
            }
            &.ad2 {
              background-image: url("img/award2.png");
            }
            &.ad3 {
              background-image: url("img/award3.png");
            }
            &.ad4 {
              background-image: url("img/award4.png");
            }
            &.ad5 {
              background-image: url("img/award5.png");
            }
            &.ad6 {
              background-image: url("img/award6.png");
            }
          }
        }
      }
    }
  }
}

.bg8 {
  background-image: url(img/bg8.jpg);
  .area8 {
    height: 544px;
    ul {
      margin: 0;
      padding: 0;
      display: inline-block;
      position: absolute;
      top: 234px;
      text-align: center;
      left: 13px;
      li {
        float: left;
        display: inline-block;
        width: 324px;
        height: 177px;
        &.mid {
          margin: 0 10px;
        }
        a {
          display: inline-block;
          width: 324px;
          height: 177px;
        }
      }
    }
  }
}

.bg9 {
  background-image: url(img/bg9.jpg);
  .area9 {
    height: 195px;
    a {
      position: absolute;
      top: 30px;
      left: 267px;
      display: inline-block;
      width: 478px;
      height: 90px;
    }
  }
}

