/*
 * 组件：按钮
 * 组件注册编号：02-0002
 * 标准结构1级
 * 属性：
 * sz    规格（默认：m   s | m | l）
 * co    颜色 (默认：read  read | back | main | vice | info | success | warn | error)
 * 示例：
 *  <span class="xui-btn" mc="02-0002"></span> 默认的这样就行了
 *  <div class="xui-btn" mc="02-0002" btn-sz="s"></div> 小号的这样写
 * 关联：html+css
 */

.xui-list{
  width: 100%;
  position: relative;
  background: #fff;
}
.xui-list>*{
  position: relative;
  background:#fff linear-gradient(0deg, rgba(0, 0, 0, 0.1) .5px, transparent .5px);
}
.xui-list>*:active{
  -webkit-box-shadow: inset 0 0 1000px rgba(0,0,0,.05);
  box-shadow: inset 0 0 1000px rgba(0,0,0,.05);
}
.xui-list.no-active>*:active,
.xui-list>*.no-active:active
{
  -webkit-box-shadow: inset 0 0 1000px rgba(0,0,0,.0);
  box-shadow: inset 0 0 1000px rgba(0,0,0,.0);
}
.xui-list>*:last-child{
  background:#fff;
}
