* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.bg1 {
  width: 100%;
  height: 779px;
  background: url(img/bg1.jpg) 50% 0 no-repeat;
  min-width: 1200px;
}
.area1 {
  width: 1200px;
  height: 779px;
  margin: 0 auto;
  position: relative;
}
.bg2 {
  width: 100%;
  height: 430px;
  background: url(img/bg2.jpg) 50% 0 no-repeat;
  min-width: 1200px;
}
.area2 {
  width: 1200px;
  height: 430px;
  margin: 0 auto;
  position: relative;
}
.bg3 {
  width: 100%;
  height: 308px;
  background: url(img/bg3.jpg) 50% 0 no-repeat;
  min-width: 1200px;
}
.area3 {
  width: 1200px;
  height: 308px;
  margin: 0 auto;
  position: relative;
}
.bg4 {
  width: 100%;
  height: 541px;
  background: url(img/bg4.jpg) 50% 0 no-repeat;
  min-width: 1200px;
}
.area4 {
  width: 1200px;
  height: 541px;
  margin: 0 auto;
  position: relative;
}
.bg5 {
  width: 100%;
  height: 392px;
  background: url(img/bg5.jpg) 50% 0 no-repeat;
  min-width: 1200px;
}
.area5 {
  width: 1200px;
  height: 392px;
  margin: 0 auto;
  position: relative;
}
.bg6 {
  width: 100%;
  height: 702px;
  background: url(img/bg6.jpg) 50% 0 no-repeat;
  min-width: 1200px;
}
.area6 {
  width: 1200px;
  height: 702px;
  margin: 0 auto;
  position: relative;
}
.bg7 {
  width: 100%;
  height: 661px;
  background: url(img/bg7.jpg) 50% 0 no-repeat;
  min-width: 1200px;
}
.area7 {
  width: 1200px;
  height: 661px;
  margin: 0 auto;
  position: relative;
}
#pro1 {
  width: 418px;
  height: 438px;
  background: url(img/pro1.png) 0 0 no-repeat;
  top: 30px;
  left: 225px;
  position: absolute;
  display: block;
}
#pro2 {
  width: 418px;
  height: 438px;
  background: url(img/pro2.png) 0 0 no-repeat;
  top: 30px;
  right: 100px;
  position: absolute;
  display: block;
}
#pro3 {
  width: 201px;
  height: 229px;
  background: url(img/pro3.png) 0 0 no-repeat;
  top: 110px;
  left: 130px;
  position: absolute;
  display: block;
}
#pro4 {
  width: 201px;
  height: 229px;
  background: url(img/pro4.png) 0 0 no-repeat;
  top: 110px;
  left: 376px;
  position: absolute;
  display: block;
}
#pro5 {
  width: 201px;
  height: 229px;
  background: url(img/pro5.png) 0 0 no-repeat;
  top: 110px;
  right: 376px;
  position: absolute;
  display: block;
}
#pro6 {
  width: 201px;
  height: 229px;
  background: url(img/pro6.png) 0 0 no-repeat;
  top: 110px;
  right: 130px;
  position: absolute;
  display: block;
}
#pro7 {
  width: 201px;
  height: 229px;
  background: url(img/pro7.png) 0 0 no-repeat;
  top: 370px;
  left: 130px;
  position: absolute;
  display: block;
}
#pro8 {
  width: 201px;
  height: 229px;
  background: url(img/pro8.png) 0 0 no-repeat;
  top: 370px;
  left: 376px;
  position: absolute;
  display: block;
}
#pro9 {
  width: 201px;
  height: 229px;
  background: url(img/pro9.png) 0 0 no-repeat;
  top: 370px;
  right: 376px;
  position: absolute;
  display: block;
}
#pro10 {
  width: 201px;
  height: 229px;
  background: url(img/pro10.png) 0 0 no-repeat;
  top: 370px;
  right: 130px;
  position: absolute;
  display: block;
}
.footer .footer-wrap {
  margin-top: 0;
}
