
//page4

.page4-chart1 {
  position: relative;
  width: 100%;
  height: 83vw;
  max-height: 382px;
  margin: 3rem 0;
}

.page4-chart1 > * {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#page4-chart-map {
  background: url(../imgs/map.png) no-repeat center !important;
  background-size: contain !important;
  position: relative;
}
#page4-chart-map > * {
  position: absolute;
  color: $co-main;
}

#page4-chart-map > *:nth-child(1) {
  top: -6%;
  right: 0;
}

#page4-chart-map > *:nth-child(2) {
  top: 18.5%;
  right: 0;
}

#page4-chart-map > *:nth-child(3) {
  top: 43.7%;
  right: 0;
}

#page4-chart-map > *:nth-child(4) {
  top: 68%;
  right: 0;
}

#page4-chart-map > *:nth-child(5) {
  top: 93%;
  right: 0;
}

#page4-chart-map > *:nth-child(6) {
  top: 93%;
  left: 0;
}

#page4-chart-map > *:nth-child(7) {
  top: 68%;
  left: 0;
}

#page4-chart-map > *:nth-child(8) {
  top: 43.7%;
  left: 0;
}

#page4-chart-map > *:nth-child(9) {
  top: 18.5%;
  left: 0;
}

#page4-chart-map > *:nth-child(10) {
  top: -6%;
  left: 0;
}
