
//page9
.page9-img img {
  width: 80%;
  left: 10%;
  position: relative;
}

.page9-chart1 {
  background: url(../imgs/page9-chart-line.png) no-repeat center !important;
  background-size: contain !important;
  position: relative;
  width: 100%;
  height: 52vw;
  max-height: 250px;
}

.page9-chart1 > * {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#page9-chart-text > * {
  position: absolute;
  //font-size: 10px;
}

#page9-chart-text > *:nth-child(1) {
  color: #b9691c;
  top: 5%;
  right: 0;
}

#page9-chart-text > *:nth-child(2) {
  color: #c58b53;
  top: 42.5%;
  right: 0;
}

#page9-chart-text > *:nth-child(3) {
  color: #e8b98b;
  top: 77.5%;
  right: 0;
}

#page9-chart-text > *:nth-child(4) {
  color: #b9691c;
  top: 77.5%;
  left: 0;
}

#page9-chart-text > *:nth-child(5) {
  color: #c58b53;
  top: 4.5%;
  left: 0;
}

#page9-chart-text > h2 {
  color: #c58b53;
  top: 38%;
  left: 1.5%;
  width: 100%;
  text-align: center;
}

#page9-chart-text > h2 > *:nth-child(1) {
  font-size: 12px
}

#page9-chart-text > h2 > *:nth-child(2) {
  line-height: 1;
  font-size: 21px;
  font-weight: bolder;
  color: #c58b53;
  //background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#71ff9d), to(#02c780));
  //-webkit-background-clip: text;
  //-webkit-text-fill-color: transparent;
}

.page9-chart2 {
  width: 70%;
  left: 15%;
  top: 5%;
  position: relative;
}

.page9-chart2-img {
  width: 100%;
  height: 0;
  padding-top: 54%;
  position: relative;
  //background: linear-gradient(90deg, #de8b0b 20%, #f2ff29 47%, #01a351 100%);
}

.page9-chart2-img:after {
  content: "";
  display: block;
  position: absolute;
  width: 110%;
  height: 110%;
  left: -5%;
  top: -5%;
  background: url(../imgs/page9-chart2.png) no-repeat center;
  background-size: contain;
}

.page9-chart2-text {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  font-size: 20px;
}

.page9-chart2-text p:nth-child(1) {
  bottom: 50%;
  left: 3%;
  position: absolute;
  color: #cccccc;
  margin-bottom: -3.5rem;
}

.page9-chart2-text p:nth-child(2) {
  top: 50%;
  right: 0;
  position: absolute;
  color: #c58b53;
  margin-top: -3.5rem;
}

.dis-1{
  position: relative;
  top: -1rem;
}