body,
html {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.container {
  width: 100%;
  min-width: 1200px;
}
.main-top {
  height: 712px;
  background: url("img/top.jpg") center no-repeat;
}
.main-center {
  height: 664px;
  background: url("img/center.jpg") center no-repeat;
}
.main-center .main-container {
  width: 1110px;
  margin: 0 auto;
  overflow: hidden;
}
.main-center .main-container .content-list {
  margin-left: 581px;
  margin-top: 168px;
  width: 484px;
  height: 415px;
}
.main-center .main-container .content-list .winData {
  width: 484px;
  height: 415px;
  overflow: hidden;
  position: relative;
  cursor: default;
}
.main-center .main-container .content-list .winData ul {
  width: 100%;
  position: relative;
}
.main-center .main-container .content-list .winData ul li {
  width: 100%;
  height: 73px;
  line-height: 48px;
  color: #fff;
  font-size: 18px;
  position: relative;
}
.main-center .main-container .content-list .winData ul li span {
  display: inline-block;
  text-align: center;
}
.main-center .main-container .content-list .winData ul li .username {
  width: 28%;
  text-align: left;
  margin-left: 6%;
}
.main-center .main-container .content-list .winData ul li .time {
  width: 29%;
}
.main-center .main-container .content-list .winData ul li .prizename {
  width: 35%;
  margin-right: 2%;
}
.main-footer {
  height: 850px;
  background: url("img/main.jpg") center no-repeat;
}
