@import "css/swiper2.min.css";
@import "css/index";
/*container start*/
.container{
  width: 100%;
  margin: 0 auto;
}
.top-main{
  width: 100%;
  height: 754px;
  margin: 0 auto;
  background: url("img/sevengold/top-main.png") center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}
/*注册 register*/
.top-wrap{
  width: 1200px;
  height: 754px;
  margin: 0 auto;
  overflow: hidden;
  .register-main{
    float:right;
    margin-top: 70px;
    margin-right: 6px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 4px 4px 6px #ffbd08;
    -webkit-box-shadow:4px 4px 6px #ffbd08;
    -moz-box-shadow:4px 4px 6px #ffbd08;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    .register-title{
      margin-bottom: 12px;
      height: 37px;
      background: url("img/sevengold/register-title.png") center no-repeat;
      background-size: contain;
      -webkit-background-size: contain;
      -o-background-size: contain;
    }

    //h2{
    //  font-size: 26px;
    //  color:#3a3a3a;
    //  padding-bottom: 12px;
    //  span{
    //    display: inline-block;
    //    vertical-align: middle;
    //  }
    //  i{
    //    display: inline-block;
    //    vertical-align: middle;
    //    color: #ff523a;
    //    font-style: normal;
    //
    //  }
    //  .color-special{
    //    font-size: 40px;
    //    color: #ff523a;
    //  }


    .user-common{
      height: 38px;
      margin-bottom: 14px;
      input{
        border: 1px solid #f0f0f0;
        text-indent: 6px;
        color: #a9a9a9;
      }
    }
    .user-num,.user-psw{
      width: 302px;
    }
    .J-num,.J-psw{
      width:302px;
      height: 38px;
      background: #f6f5f5;
    }
    //验证码
    .user-verigy{
      margin-bottom: 14px;
    }
    .user-voice{
      text-align: right;
      margin-bottom: 18px;
    }
    .user-verigy .J-verify,.user-verigy .J-phoneyzm{
      float: left;
      width: 178px;
      height: 38px;
      background: #f6f5f5;
    }
    .user-verigy .change-verify,.user-verigy .get-phoneyzm{
      float: right;
      margin-left: 8px;
      width: 116px;
      height: 38px;
      background: #f6f5f5;
      cursor: pointer;

    }
    //语音验证码
    .user-voice .J-voiceyzm{
      font-size: 14px;
      color: #ff523a;
    }
    .user-verigy .get-phoneyzm{
      text-align: center;
      font-size: 14px;
      color: #666;
      line-height: 38px;
    }
    //同意协议
    .user-agree{
      margin-bottom: 16px;
      position: relative;
      span{
        display: inline-block;
        font-size: 14px;
        color: #ddd;
        text-indent: 8px;
        a{
          font-size: 14px;
          color: #7bade1;
          cursor: pointer;
        }
      }
    }
    .user-agree .check-style{
      display: inline-block;
      vertical-align: middle;
      width: 13px;
      height: 13px;
    }
    .user-agree .no-check{
      background: url("img/redpacket/check.png") no-repeat;
      background-size: 100% 100%;
    }
    .user-agree .checked{
      background: url("img/redpacket/checked.png") no-repeat;
      background-size: 100% 100%;
    }
    .have-login{
      text-align: right;
      font-size: 14px;
      color: #3a3a3a;
    }
    .have-login .logined{
      text-decoration: underline;
      color: #ff523a;
    }
  }
  .register-btn{
    width: 304px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    margin:0 auto 14px;
    cursor: pointer;
    background: url("img/sevengold/register-btn.png") center no-repeat;
    //font-size:24px;
    cursor: pointer;
    //color:#fffb8c;
  }
  /*registered*/
  .registered{
    float:right ;
    margin-top: 70px;
    background-color: #fff;
    padding: 40px 30px;
    text-align: center;
  }
  .logo-company{
    width: 94px;
    height: 94px;
    border-radius: 50%;
    background-color: #ff7544;
    margin: 0 auto 40px;
  }
  .logo-company img{
    display: inline-block;
    width: 48px;
    height:58px;
    left:50%;
    top:50%;
    margin-top:22px;
  }
  .user-info{
    font-size: 16px;
    color: #3a3a3a;
    text-align: center;
    margin-bottom: 30px;
    font-weight:300;
  }
  .user-money{
    font-size: 16px;
    color: #909090;
    text-align: center;
    margin-bottom: 30px;
  }
  .user-money .go-money{
    font-size: 16px;
    color: #ff523a;
    cursor: pointer;
  }
  .all-money{
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: 400;
    color: #3a3a3a;
  }
  .enter-account{
    display: block;
    width: 304px;
    height: 48px;
    margin:0 auto;
    cursor: pointer;
    background: url("img/sevengold/enter-account.png") no-repeat;

  }
}


/*container-main start*/
.container-main{
  width: 100%;
  margin: 0 auto;
  background: url("img/sevengold/bkg.png") center center no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/sevengold/bkg.png', sizingMethod='scale');
}
.container-wrap{
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}
/*info*/
.introduce-first{
  width: 1200px;
  margin: 0 auto;
  clear: both;
  height: 415px;
}
.calendar{
  float: left;
  width: 387px;
  height: 415px;
}
.calendar img{
  width: 100%;
  height: 100%;
}
.introduce-first .pole{
  float: left;
  margin-left: 36px;
  width: 75px;
  height: 415px;
  background: url("img/sevengold/pole.png") center no-repeat;
}
.introduce-list{
  float: left;
  margin-left:10px;
  padding-top: 24px;
  width:692px;
  height: 360px;
  font-size: 20px;
  color: #fff;
  overflow: hidden;
}
.introduce-list li{
  text-align: left;
}
.introduce-list .special-font{
  font-size: 24px;
  color: #fdef0a;
}
.introduce-list li{
  line-height: 1.4;
  font-size: 20px;
  color: #fff;
}
.introduce-list .content-one{
  width:644px;
  height: 64px;
  padding: 12px 24px 28px;
  background: url("img/sevengold/content-one.png") center no-repeat;
}
.introduce-list .content-two{
  width: 515px;
  height: 64px;
  padding:20px 82px 20px 24px;
  background:url("img/sevengold/content-two.png") center no-repeat ;
}
.introduce-list .content-three{
  width: 454px;
  height: 37px;
  padding: 21px 0 21px 24px;
  background: url("img/sevengold/content-three.png") center no-repeat;
}
.introduce-list .content-four{
  width: 459px;
  height: 37px;
  padding: 21px 0 21px 24px;
  background: url("img/sevengold/content-four.png") center no-repeat;
}
.rect{
  width: 100%;
  height: 36px;
  margin: 64px auto;
  background: url("img/sevengold/reat.png") center no-repeat;
}
/*character*/
.character-list{
  width: 1124px;
  height: 279px;
  margin: 0 auto;
  clear: both;
}
.character-list div{
  position: relative;
  width: 290px;
  height: 279px;
  float: left;
  background: url("img/sevengold/character.png") center no-repeat;
}
.character-list .character-two,.character-list .character-three{
  margin-left: 126px;
}
.character-common .location-self{
  position: absolute;
  right: 50px;
  top:34px;
  font-size: 20px;
  color: #fff;
}
.character-one .location-self{
  right: 38px;
}
.character-common .character-num{
  text-align: center;
  width: 290px;
  height: 120px;
  padding-top: 50px;
  font-family:"Arial";
  font-weight: bold;
  color: #fff;
  font-size: 100px;
  .qtds-num{
    font-size: 100px;
  }
}

.character-common .character-num .qtds-sign{
  font-size: 60px;
}
.character-common .character-style{
  display: block;
  width: 290px;
  text-align: center;
  font-size: 30px;
  color: #fff;
}
.character-common p{
  width: 290px;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
}
.invest{
  position: relative;
  margin: 52px auto 0;
  width: 533px;
  height: 111px;
  cursor: pointer;
  background: url("img/sevengold/invest.png") center no-repeat;
}
/*advantage-info*/
.advantage-info{
  margin: 0 auto;
  width: 1218px;
  height: 612px;
  background: url("img/sevengold/advantage.png") center no-repeat;
  .advantage-time{
    font-size: 14px;
    color: #ff733c;
    width: 92%;
    margin-left: 434px;
  }
}
.advantage-title{
  width: 1218px;
  text-align: center;
  padding-top: 12px;
  font-size: 40px;
  color: #fff;
}
.advantage-data{
  width: 1018px;
  margin: 0 auto;
  height: 70px;
  padding: 58px 0 24px;
  clear: both;
}
.advantage-data li{
  float: left;
  width: 210px;
  margin-left: 192px;
  color: #c042fe;
  text-align: left;
}
.advantage-data .advantage-first{
  margin-left: 30px;
  width:180px;
}
.advantage-data li .advantage-content{
  display: block;
  font-size: 20px;
  font-weight: lighter;
}
.advantage-data li p{
  font-size: 35px;
  color: #c042fe;
  width: 210px;
}
.advantage-data li p span{
  color: #ff4700;
}
.advantage-main{
  width: 1046px;
  height: 272px;
  margin: 0 auto;
  padding-top: 24px;
}
.advantage-main li{
  float: left;

}
.advantage-main .advantage-one{
  width: 304px;
  height: 272px;
  background: url("img/sevengold/advantage-one.png") center no-repeat;
}
.advantage-main .advantage-two{
  width:299px;
  height: 272px;
  margin-left: 60px;
  background: url("img/sevengold/advantage-two.png") center no-repeat;
}
.advantage-main .advantage-three{
  width: 297px;
  height: 272px;
  margin-left: 80px;
  background: url("img/sevengold/advantage-three.png") center no-repeat;
}
/*certificate*/
.certificate{
  position: relative;
  width: 1218px;
  height: 455px;
  margin: 0 auto;
  background: url("img/sevengold/certificate.png") center no-repeat;
}
.certificate-title{
  width:100%;
  text-align: center;
  padding-top: 12px;
  font-size: 40px;
  color: #fff;
}
.certificate-main{
  width: 1162px;
  margin: 0 auto;
}
.swiper-container{
  width: 1020px;
  margin: 0 auto;
  padding-top: 48px;
  height: 278px;
}
.swiper-slide{
  width: 330px !important;
  text-align: center;
  margin-left: 9px;
}
.swiper-slide .slide-img{
  width: 330px;
  height: 230px;
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
}
.swiper-slide .slide-img img{
  display: inline-block;
  vertical-align:middle;
  cursor: pointer;
}
.swiper-slide p{
  font-size: 16px;
  color:#f9281f;
}
/*left right btn*/
.certificate-main .btn-common{
  position: absolute;
  top:50%;
  margin-top: -31px;
  width: 62px;
  height: 62px;
  cursor: pointer;
}
.certificate-main .left-btn{
  left:32px;
  background: url("img/sevengold/left.png") no-repeat center;
}
.certificate-main .right-btn{
  right:32px;
  background: url("img/sevengold/right.png") no-repeat center;
}
/*明星产品*/
.start-product{
  width: 478px;
  height: 96px;
  margin: 0 auto;
  background: url("img/sevengold/mx.png") no-repeat center;
}
.start-wrap{
  width: 1200px;
  height: 365px;
  margin: 60px auto 0;
}
.start-main{
  width: 100%;
  height: 365px;
  margin: 0 auto;
}
.start-main li{
  float: left;
}
.start-main .second-kill{
  width: 399px;
  height: 365px;
  background: url("img/sevengold/second-kill.png") no-repeat center;
}
.start-main .hot-product{
  width: 397px;
  height: 365px;
  background: url("img/sevengold/hot.png") no-repeat center;
}
.start-main .regular-product{
  width: 397px;
  height: 365px;
  background: url("img/sevengold/regular.png") no-repeat center;
}
.start-main .start-content{
  margin-left: 80px;
  width: 305px;
  height: 347px;
  text-align: center;
}
.start-content h4{
  padding: 20px 0 10px;
  width: 218px;
  margin: 0 auto;
  font-size: 40px;
  color: #fff;
  border-bottom: 1px solid #e175e5;
}
.start-content p{
  padding-top: 16px;
  font-size: 16px;
  color: #fff;
}
.start-content .start-num{
  width: 100%;
 text-align: center;
  margin: 0 auto;
  color: #fdef0a;
  font-size: 35px;
}
.start-border{
  margin: 0 auto;
  width: 218px;
  height: 1px;
  background-color: #e175e5;
}
.start-content .start-num span{
  font-size: 60px;
}
.start-content .start-time{
  padding-bottom: 18px;
}
.start-content .snap-up{
  position: relative;
  display: block;
  width: 256px;
  height: 58px;
  margin: 0 auto;
  background: url("img/sevengold/snap-up.png") no-repeat center;
  cursor: pointer;
}
/*媒体*/
.media{
  width: 1222px;
  height: 469px;
  margin: 0 auto;
  background: url("img/sevengold/media.png") no-repeat center;
}
.join-in{
  padding-top: 10px;
  font-size: 24px;
  color: #c042fe;
}
.join-in span{
  font-size: 34px;
  color:#ff4700;
  font-weight: 700;
}
.join-right{
  position: relative;
  width: 533px;
  height: 111px;
  margin: 62px auto 0;
  text-align: center;
  line-height: 111px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
  background: url("img/sevengold/join-in.png") no-repeat center;
}
.footer-prompt{
  width: 1200px;
  height: 26px;
  margin: 0 auto 40px;
}
.footer-prompt .prompt{
  text-align: right;
  font-size: 16px;
  color: #ff9936;
}
.footer-prompt .prompt span{
  display: inline-block;
  margin-right: 12px;
  width: 68px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 18px;
  border: 1px solid #ff9936;
}

/*container-main end*/
/*container end*/
//注册弹窗

.disgray{
  position:absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  background:rgba(0,0,0,0.6);
}
.register-pop{
  position: fixed;
  width: 1080px;
  height:480px;
  left: 50%;
  top: 50%;
  margin-top: -240px;
  margin-left:-540px;
  background:url("img/sevengold/pop.png") no-repeat;
  background-size: 100% 100%;
  /*overflow: hidden;*/
}
.top-wrap .register-special{
  position: fixed;
  top:50%;
  left:50%;
  margin-left: 117px;
  margin-top:-219px;
  //margin-top: -232.5px;
  z-index: 10000;
}
.register-pop .logo-small{
  display: inline-block;
  width: 170px;
  height: 46px;
  margin: 16px 0 0 50px;
  background: url("img/logo-small.png") no-repeat;
}
.register-pop .close{
  float: right;
  display: inline-block;
  margin: 10px 15px 0 0;
  width: 37px;
  height: 37px;
  cursor: pointer;
  background: url("img/del.png") no-repeat;
}

//左侧导航条
.get-money{
  display: block;
}
.side-bar{
  position: fixed;
  right: 10px;
  top:50%;
  z-index: 900;
  margin-top: -186.5px;
  width: 100px;
  height: 373px;
  background: url("img/sevengold/sider.png") no-repeat;
  .sider-close{
    float: right;
    display: inline-block;
    font-size: 24px;
    color: #000;
    margin: 0 10px 0 0;
    cursor: pointer;

  }
  .get-disnone{
    display: none;
  }
  h3,.get-money{
    margin: 106px auto 14px;
    width: 90px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    font-size:18px;
    color: #fff;
    cursor: pointer;
    background: url("img/sevengold/radius-rect.png") no-repeat;
  }
  ul{
    text-align: center;
    li{
      padding: 5px 0;
      font-size:16px;
      color: #fff;
      a{
        font-size:16px;
        color: #fff;
      }
    }
    .lighter-location{
      background: #fdef0a;

      a{
        color: #c042fe;
      }
      span{
        color: #c042fe;
      }
    }
  }
}



















