body,html{
  padding:0;
  margin:0;
}
li{
  list-style: none;
}
.wrap{
  width:100%;
  min-width:1200px;
}
.part-top{
   height: 1198px;
   background: url("img/bg1.jpg") center no-repeat;
}
//主要内容
.main-content{
  width: 1110px;
  margin:0 auto;
  overflow:hidden;
}
.content-r{
  width: 400px;
  height: 452px;
  margin-top: 662px;
  margin-left: 626px;
  h2{
    font-size: 25px;
    color: #fff;
    text-align: center;
    font-weight:bold;
    padding: 26px 0 30px;
  }
  .red-title{
    width: 342px;
    margin: 0 auto;
    font-size: 16px;
    height:30px;
    li{
      float: left;
      font-size: 16px;
      color: #fff;
    }
    .red-name{
      margin-left: 18px;
    }
    .red-time{
      margin-left: 70px;
    }
    .red-money{
      margin-left: 38px;
    }
  }
  .winData{
    width: 342px;
    height: 300px !important;
    overflow: hidden;
    position: relative;
    cursor: default;
    margin: 0 auto;
    ul{
      width: 90%;
      padding:0;
      margin:0 5%!important;
      position: relative;
      .active-w{
        text-align: center;
      }
      li{
        width: 100%;
        height: 50px;
        line-height: 48px;
        color: #fff;
        font-size:16px;
        position: relative;
        span{
          display: inline-block;
        }
        .username{
          width: 30%;
          text-align: left;
        }
        .time{
          width: 34%;
          text-align: center;
          margin-left: 2%;
        }
        .prizename{
          width: 34%;
          text-align: center;
        }
      }
    }
  }
}
//第二部分
.part-center{
  height: 629px;
  background: url("img/bg2.jpg") center no-repeat;
}

//第三部分
.part-bottom{
  height: 1032px;
  background: url("img/bg3.jpg") center no-repeat;
}
.btn{
  display:block;
  margin: 405px auto 0;
  width: 268px;
  height: 78px;
  background: url("img/btn1.png") center no-repeat;
}