@import "../tmp/merge/reset.reset.css";
html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
.main-container {
  width: 100%;
  /*750px*/
  height: 100%;
  /*1640px*/
  background: url("img/re_bkg.png") repeat;
  background-size: 100% 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.container-top {
  width: 100%;
  height: 12.8rem;
  /*640*/
  margin: 0 auto;
}
.title-common {
  margin: 0 auto 0.6rem;
}
.title-common img {
  width: 100%;
  height: 100%;
}
.title-first {
  width: 9.6rem;
  height: 1.44rem;
  margin-top: -1.8rem;
}
.title-second {
  width: 8.18rem;
  height: 1.76rem;
}
.welfare {
  margin: 0 auto;
  width: 13.8rem;
}
.welfare img {
  display: inline-block;
  width: 100%;
  height: 2.76rem;
  margin: 0 auto;
}
.teach {
  margin: 0 auto 1.6rem;
}
.teach-common {
  width: 13.8rem;
  height: 5.0rem;
  margin: 0 auto 0.36rem;
}
.teach-common:last-child {
  margin-bottom: 0;
}
.teach-common img {
  width: 100%;
  height: 100%;
}
.title-third {
  width: 6.16rem;
  height: 1.08rem;
}
.red-result {
  width: 13.8rem;
  margin: 0 auto 1.0rem;
}
.red-result ol {
  list-style-type: demical;
  margin-left: 0.6rem;
}
.red-result ol li {
  list-style-position: outside;
  color: #fff;
  font-size: 0.56rem;
  line-height: 0.9rem;
}
.red-result ol li .phone-style {
  color: #fff !important;
  font-size: .48rem !important;
}
.red-result ol li a {
  color: #fff !important;
  font-size: .48rem !important;
}
.red-result ol li a:hover,
.red-result ol li a:visited {
  outline: none;
  background: none;
}
button {
  outline: none;
  border: none;
  /*-webkit-shadow:none;*/
}
.btn-common {
  width: 100%;
  height: 3.0rem;
  margin: 0 auto;
}
.btn-common .get-red {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 3.0rem;
  background: url("img/get_red.png") center no-repeat;
  background-size: cover;
}
