.container{
  width: 100%;
  min-width: 1200px;
  overflow: hidden;
  height:2192px;
  background: url("img/bg.jpg")  center no-repeat;
  .main{
    width: 1200px;
    height:2192px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    .immediate-btn{
       width: 800px;
       margin: 732px auto 0;
      a{
        display: block;
        width: 318px;
        height: 71px;
        cursor: pointer;
      }
      .on-btn{
        background: url("img/btn1.png") center center/100% 100% no-repeat;
      }
      .overtime-btn{
        background: url("img/btn2.png") center center/100% 100% no-repeat;
      }
      .left-btn{
        float: left;
        margin-left: 30px;
      }
      .right-btn{
        float: right;
        margin-right: 30px;
      }
    }
    .qt-code{
      width: 487px;
      height: 257px;
      margin-top: 32px;
      margin-left: 602px;
      background: url("img/two-dimension.png") center center/100% 100% no-repeat;
    }
    .product-list{
      position: absolute;
      width: 1066px;
      bottom:120px;
      left:50%;
      margin-left: -533px;
      overflow: hidden;
      a{
        cursor: pointer;
        display: block;
        width: 100%;
        height: 152px;
      }
      .qtds-product{
        margin-top:30px;
      }
    }
  }
}
.disnone{
  display:none;
}