body,
html {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.warp-div {
  width: 100%;
  min-width: 1200px;
  background: none no-repeat center;
}
.warp-div > div {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}
.bg1 {
  height: 1035px;
  background-image: url(img/bg1.png);
}
.bg2 {
  position: relative;
  height: 850px;
  background-image: url(img/bg2.png);
  overflow: hidden;
}
.bg3 {
  height: 645px;
  background-image: url(img/bg3.png);
}
.bg4 {
  height: 870px;
  background-image: url(img/bg4.png);
}
.content {
  width: 1060px;
  height: 500px;
  margin: 0 auto;
}
.bg2 a {
  position: absolute;
  right: 100px;
  bottom: -250px;
  display: inline-block;
  padding: 25px;
  width: 80px;
  height: 80px;
  text-align: center;
  border: 0;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  background: url("img/btn.png") no-repeat;
  cursor: pointer;
}
.dimension {
  position: absolute;
  right: 224px;
  bottom: -365px;
  width: 345px;
  height: 330px;
  background: url("img/dimension.png") no-repeat;
  display: none;
}
.show {
  display: block;
}
